{% extends "FDS_app/base.html" %}

{% block title %} Home {% endblock title%}

{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-inline-block p-4">
            <br>
            <h1> ABOUT FIRST DELIVERY LOGISTICS (FDL)</h1>
            <p> Firsr delivery logistics is a courier service based in calabar, Our cargo and parcel service 
                is within the metropolise of calabar, our logistics service route out of calabar is between calabar and port harcourt.
            we are new in town and going to give you the best if service in items handling.
        we started operations on the 1st of march 2021, our offcie is located in calabar and going from one place.
    Thanks for using our service </p>

    <div class="card card-body bg bg-light shadow-sm"> 
        <h4> Here are some interesting feature</h4>
        <p> With First Delivery there is so much you could get when it comes to delivery.</p>
        <p> With just some few clicks you could get our dispatch riders running towards your location to collect your item </p>
        <p> We have provided multiple means of payment through Cash Payments, through card and and mobile transfer with Nigeria most reliable payments platform</p>
        <p> When your choice of payment is cash you could select either you or the person delivering who is going to choose to pay </p>
    </div>
        </div>
        <div class="col-md-2"> </div>

    </div>

</div>

{% endblock content %}