{% extends "FDS_app/base.html" %}

{% block title %} About-FirstLaurelLogistics{% endblock title%}

{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-inline-block p-4 text-justify">
            <h3> ABOUT </h3>
            <p> First Laurel Logistics Service is a logistics company based in Calabar Cross River State, We pick up parcels from its point of origin and deliver to various locations within Calabar and environs.</p>
            <p> We aslo provide In-shopping service (going shopping for people) that is reliable and the quality of item is checked before purchase, items are gotten from the best stores around town. With our online service you can request for dispatch riders directly from your phone and keep tabs on your delivery progress. </p>
            <p>Our online service is a good fit for vendors who want to keep track of their product deliveries to various customers with records of it. With over 20 dispatch bikes, tricycle and vehciles we are ready to serve all your delivery needs from parcel to heavy duty equipment.</p>

          <div class="card card-body bg bg-light shadow-sm text-justify"> 
              <h4> Here are some interesting feature of our service</h4>
              <p> With us, you are sure of never being behind schedule on delivering Items yo your Customers</p>
              <p> You could request for dispatch through calls or on this website by creating account. </p>
              <p> You can make payment to us with <strong> Cash, Bank Transfer, Card payments online.</strong> </p>
              <p> You can also ask our dispatch riders to collect payments ath the point of delivery to the reciever.</p>
          </div>
        </div>
        <div class="col-md-2"> </div>

    </div>
</div>



<div class="container-fluid" id="footer">
    <!--COlumn-->
    <br>
    <br>
  <div class="row">
    <div class="col-md-4 col-md-auto">
        <p>© First Laurel Logistics Services </p>
        <p>Nigeria, C.R.S, Calabar. </p>
        <p></p>
    </div>

    <div class="col-md-4 col-md-auto">
        <p>CONTACT US</p>
        <p> <i class="fas fa-phone-volume"></i> +234 90134439919</p>
        <p> <i class="fas fa-phone-volume"></i> +234 9138143504</p>  
        <p> <i class="fas fa-envelope-square"></i> firstdeliveries@gmail.com</p>
      </div>

    <div class="col-md-4 col-md-auto">
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fab fa-facebook"></i>
            </button>
            <div class="dropdown-menu bg-transparent " aria-labelledby="dropdownMenu2">   
              <a class="dropdown-item" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fm.me%2Ffirstlaurellogistics%3Ffbclid%3DIwAR2BMrnZAj-4_FqbmDd0sM5OilCS79HrX4-a2_zfx8elUfbRfdGzsCf6vtE&h=AT3nfPeypPDqsz253pOZq9sbTzCgPV3hBFVneRmBRKqRJRMySR-RSid_Hnx92HuGzqt_dm5yVH4csvWHA5FLfRA3aMKzaR_eV-uAuTPlVJyB3jmyqWNXvG8uHEXB9ly368Iekg">
                <span><h4><i class="btn btn-outline-danger fab fa-facebook "> Chat</h4></i></span>
              </a>
              <a class="dropdown-item" href="https://web.facebook.com/firstlaurellogistics">
                <span><h4><i class=" btn btn-outline-danger fab fa-facebook "></h4></i></span>
              </a>
            </div>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <a href="https://www.instagram.com/firstlaurellogistics/">
            <button type="button" class="btn btn-danger btn-md"><i class="fab fa-instagram"></i></button>
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a href="https://mobile.twitter.com/first_laurel">
            <button type="button" class="btn btn-danger btn-md"><i class="fab fa-twitter-square"></i></button>
          </a>
        </div>
      </div>
    </div>  
  </div>
</div> 

{% endblock content %}