{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} FDL {% endblock title %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "/FDS_app/main.css" %}' rel='stylesheet' type='text/css'>
    <link href="https://unpkg.com/@popperjs/core@2">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Red+Hat+Display:wght@900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'FDS_app/favicon.ico' %}"/>
    <script>
      $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

    <style>
      .zoom {
    width: 300px;
    }

    .zoom img {
        transition: 1s all ease-in-out;
    }

    .zoom:hover img {
      transform: scale(1.1);
    }

    .dot {
    height: 15px;
    width: 15px;
    background-color: rgb(235, 0, 0);
    border-radius: 50%;
    display: inline-block;
  }


    div:nth-child(1) {
      font-family: 'Nunito', sans-serif;
    }

    h1:nth-child(1) {
      font-family: 'Red Hat Display', cursive;
    }

    h2,h3,h4,dt:nth-child(2) {
      font-family: "Red Hat Display", sans-serif;
    }
    </style>
  <script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
  })
  </script>

<script>
  $(function () {
    var nua = navigator.userAgent
    var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
    if (isAndroid) {
      $('select.form-control').removeClass('form-control').css('width', '100%')
    }
  })
  </script>    
</head>


<body>
<div class="container-fliud">
  <ul class="nav justify-content-end">
   
    <li class="nav-item">
      <small class="nav-link text-muted" style="height: 25px; font-size: 13px;">Call: +234 90134439919</small>
    </li>
    
  </ul>
  <div id="navbar-nav" class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar navbar-expand-sm navbar-expand-md text-truncate navbar-dark  shadow-sm" style="background-image: linear-gradient(to right, rgb(0, 55, 107),rgb(0, 91, 209));" >
      <a class="navbar-brand font-weight-bold" href="{% url 'fds-home' %}"> 
        <img src="/static/FDS_app/FLLS LOGO.png" class="img-fluid" style="width: 110px; height: 43px" alt="Flls Logo">
      </a>

      <button class="navbar-toggler mr-4" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> 
        <span class=" fas fa-bars"></span>
      </button>

      <div class=" collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item  active">
            <a class="nav-link" href="{% url 'fds-home' %}">Home</a>
          </li>

          <li class="nav-item  active"> 
            <a class="nav-link " href="{% url 'fds-about' %}">About</a>
          </li>

          <li class="nav-item  active">
            <a class="nav-link" href="{% url 'fds-pricing' %}"> Pricing </a>
          </li>

        </ul>
      </div>
      
          {% if user.is_authenticated %}
          
          <ul class="navbar-nav">
            <li>
              <a class="btn btn-danger font-weight-bold btn-sm rounded-pill mr-2" href="{% url 'dashboard' user.id %}" role="button">Dashboard</a>  
            </li>
          </ul>
          {% else%}

        <ul class="navbar-nav mr-2" >
            <li>
              <button type="button" class="btn btn-danger rounded-pill btn-sm">
              <a  href="{% url 'login' %}" class=" text-white font-weight-bold text-decoration-none">Sign In</a></button>
          </li>
        </ul>
        {% endif %}
  
    </nav>
  </div>

  <main role="main" style="padding-top: -2rem;">
    <div >
  {% block content %}


  {% endblock content %}
  </div>

  <div class="chatservice mr-4">
    <div class="row">
      <div class=" col-md-auto"></div>
      <div class=" col-md-auto"></div>
      <div class=" col-md-auto d-flex justify-content-center">
        <button type="button" class="btn btn-outline-danger shadow" data-toggle="tooltip" data-placement="top" title="You Need Support? Chat Us!">
          <a class=" text-decoration-none" href="https://api.whatsapp.com/send?phone=+2347067320119">
          <i class="fab fa-whatsapp text-muted"> </i></a> 
        </button>
      </div>
  </div>

  <br>
  </div>
  <!--Footer-->
  {% block contentf %}

  {% endblock contentf %}
  </main>
</div>
</body>

</html> 