{% extends "FDS_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load user_tags %}
{% block title %} Welocme {{user.username }} {% endblock title %}

{% block content %}
<main class="">
  <nav class="navbar navbar-expand-lg navbar navbar-expand-sm navbar-expand-md container-fluid navbar-light shadow-sm bg-light"  >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fas fa-angle-double-down"></span>
      </button>      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link p-2 btn btn-light text-left" href="{% url 'orderHistory' user.id %}" role="button" >Request History <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link p-2 btn btn-light text-left " href="{% url 'profileUpdate' user.id %}" role="button" >Update Profile</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link p-2 btn btn-light text-left " href="{% url 'Terms' %}" role="button" >Terms</a>
          </li>
        </ul>        
      </div>

      <div>      
      {% if notify.count > 0 %}
        <a href="{% url 'adminNotificationShow' %}" class="mr-5" data-toggle="tooltip" data-placement="top" title="You have {{notify.count}} Notifications"> 
            <span><i class="fas fa-bell text-danger"></i> </span> 
            <span class="badge">{{notify.count}}</span>
        </a>        
      {% endif %}
      <!--Notification and profile-->
      <div class="d-flex flex-row bd-highlight notification">
        <div data-toggle="tooltip" data-placement="top" title="Your current location">
          <small class="mt-2  font-weight-bold text-primary" data-toggle="modal" data-target="#Location">Location: {{customer.Location}} </small>
        </div>
        <div class="bd-highlight">          
          {% if n.count > 0 %}
            <small class="justify-content-center">
              <a href="{% url 'show_Notification' user.id %}">
                <p class="text-danger " data-toggle="tooltip" data-placement="top" title="You have {{n.count}} Notifications">
                  <i class="fas fa-bell btn btn-md text-danger pt-2 "><span class="badge">{{n.count}}</span></i> 
                </p>
              </a>
            </small>
          {% else %}
            <div class="" data-toggle="tooltip" data-placement="top" title="You have 0 Notifications">
            <i class="fas fa-bell btn btn-md"></i>
            </div>
          {% endif %}
        </div>        

        <div class="bd-highlight">
          <div class="btn-group dropleft">
            <button type="button" class="btn btn-md  dropdown-toggle text-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="text-dark far fa-user-circle"></i>
            </button>
            <div class="dropdown-menu rounded-lg bg-light shadow ">
              <div class="dropdown-item"><img src="{{user.customer.image.url}}" alt=" Profile Picture" class="  rounded-circle" style="width: 40px; height: 43px;">  </div>
              <p class="dropdown-item">Username: {{user.username}}</p>
              <p class="dropdown-item">{{user.first_name}} {{user.last_name}}</p>
              <p class="dropdown-item">{{user.email}}</p>
              <p class="dropdown-item">{{customer.phone_number}}</p>

              <a class="btn btn-danger ml-3 btn-sm font-weight-bold text-white rounded-pill " href="{% url 'management_dashboard' user.id %}" role="button">Manegment</a>
              <div class="dropdown-divider"></div>
              <a class="btn btn-danger ml-3 btn-sm font-weight-bold text-white rounded-pill " href="{% url 'logout' %}" role="button">Log out</a>
              {% if request.user|front_desk:"Front Desk" %}
                <a class="btn btn-danger ml-3 btn-sm font-weight-bold text-white rounded-pill " href="{% url 'frontdesk' user.id  %}" role="button">Front Desk</a>
              {% endif %} 

              {% if request.user|fleet:"Fleet Manager" %}
                <a class="btn btn-success mt-3 btn-sm font-weight-bold text-white rounded-pill " href="{% url 'fleetManager' user.id  %}" role="button">Fleet Manager</a>
              {% endif %} 

            {% if request.user|cashier:"Cashier" %}
              <a class="btn btn-success mt-3 btn-sm font-weight-bold text-white rounded-pill " href="{% url 'cashier' user.id  %}" role="button">Cashier Dashboard</a>
            {% endif %} 
            </div>
          </div>   
        </div>    
      </div>
  </nav>
</main>
<body role="main" style="padding-bottom: 4rem;" >  
    
    {% block content2 %} 

    {% endblock content2 %} 
    
  </body>

<style>    
.notification .badge {
  position:absolute;
  top: 2px;
  right: 70px;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.badge {
  position:absolute;
  top: 2px;
  right: 120px;
  padding: 5px 8px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
</style>

<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<div class="modal fade" id="Location" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6>Changing Location</h6>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>It is necessary to change your city location when you move out your previous city to a loacation our services are available for us to serve you better.</p>
        <a role="button" class="btn btn-danger rounded-pill" href="{% url 'update_location' user.id%}"> Proceed</a>
      </div>
      <div class="modal-footer justify-content-right">            
      </div>
    </div>
  </div>
</div>
{% endblock content %}
