{% extends "FDS_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}First Laurel Logistics {% endblock title%}

{% block content %}
<div id="background-color" style="margin: auto; width: auto;">
  <div class="p-3 mb-3">
    <div id="landing" class="shadow-sm">
      <div class="container-lg "> 
        <div class="row mb-2 ">    
              <div class="col-md-6 text-dark order-6 pt-3">
                <div class="text-center text-lg-left" >
                  <h1 class="font-weight-bolder dfont-5" style="font-family:'Comfortaa', cursive;"> Welcome to First Laurel Logistics Services. </h1>
                  <h1 style="font-family: 'Fredoka One', cursive;" class="dfont-5">Need Deliveries?</h1>
                  <h5 class="dfont-6"> Just relax and lets take care of all your delivery needs. </h5>
                  <h5 class="dfont-6">Our delivery service coverage is within Calabar and it environs.</h5>
      
                  <div class="dropdown" id="myDropdown">
                    <button class="btn btn-lg btn-danger rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Request Dispatch
                    </button>

                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                      {% if user.is_authenticated %}
                        <a  href="{% url 'dashboard' user.id  %}" class=" text-dark text-decoration-none">Dashboard</a> 
                        {% else %}
                        <a  href="#" class="text-dark text-decoration-none text-center" data-toggle="modal" data-target="#CashRequestForm">Request</a>
                        <hr>
                        <p>Call: +234 90138143504 </p>
                        <hr>
                        <a class="dropdown-item" href="{% url 'register' %}">Sign Up</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
                
                <form action="{% url 'search' %}" method="get">
                  <div class="form-group" id="div_id_order_id" >
                    <label for="id_order_id" class></label>
                    <div>
                      <input type="text" 
                            name="order_id"  
                            class="textinput textInput form-control" 
                            id="id_order_id" 
                            {% if myFilter2.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}
                            placeholder="Enter Reference ID to check Your Request order Status">
                    </div>
                    <button class="mt-2 btn btn-light  shadow-sm rounded-pill btn-block my-sm-2" type="submit">Search</button>
                  </div>    
                </form>
              </div>

          <div class="col-md-6 text-center order-1 order-md-6 mt-4">
            <img data-src="/static/FDS_app/First Laurel Logistics Rider 2021.PNG" class="img-fluid lazy mx-auto d-block" alt="Landing Image">             
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--2ND-->
  <div class="p-3 mb-2">
    <div id="landing2" class="shadow-sm" >
      <div class="container "> 
        <div class="row align-items-lg-center mb-2 ">    
              <div class="col-md-6  text-dark order-6 pt-3">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex flex-row bd-highlight justify-content-between">
                      <div class="p-2 bd-highlight"> 
                        <img data-src="/static/FDS_app/FirstLogistics2.jpg" id="inner2" class="img-fluid lazy mx-auto d-block " alt="First Laurel Logistics">
                      </div>
                      <div class="p-2 bd-highlight">
                        <img data-src="/static/FDS_app/FirstLogistics3.jpg" id="inner2" class="img-fluid lazy mx-auto d-block" alt="First Laurel Logistics">
                      </div>                    
                    </div>                                   
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="d-flex flex-row bd-highlight justify-content-between">
                      <div class="p-2 bd-highlight"> 
                        <img data-src="/static/FDS_app/FirstLogistics4.jpg" id="inner2" class="img-fluid lazy mx-auto d-block" alt="First Laurel Logistics">
                      </div>
                      <div class="p-2 bd-highlight">
                        <img data-src="/static/FDS_app/FirstLogistics5.jpg" id="inner2" class="img-fluid lazy mx-auto d-block" alt="First Laurel Logistics">
                      </div>                    
                    </div>                 
                  </div>
                </div>            
              </div>

          <div class="col-md-6 text-left order-1 order-md-6 mt-4">
            <div>
              <h2 id="thefont" style="color: rgb(0, 65, 139);">With a great number of </h2>
              <h1 class="display-4 font-weight-bold dfont-7" style="color: rgb(0, 114, 245);">Dispatch utility, Dispatch Riders </h2>
              <h5 id="thefont2" style="color: rgb(0, 65, 139);">and Experienced Management we give you the best of delivery service in Calabar you can rely on. </h5>                   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Third-->    
  <div class="p-3 mb-2 container">
    <div id="landing3" class="shadow-sm" >      
      <div class="row mb-2 justify-content-center">
        <div class="col-lg-6 col-md-6">
          <img data-src="/static/FDS_app/First Laurel Logistics female.PNG" id="inner3" class="img-fluid lazy d-block " alt="First Laurel Logistics">                      
        </div> 
        <div class="col-lg-6 text-center text-lg-right col-md-6">
          <div class="pr-4 p-3 mt-4 ">
            <h2>WE GO ON</h2>
            <h2 class="display-4">MARKET ERRANDS</h2>
            <h5 id="thefont2" class="text-secondary mt-2 text-justify">                  
              Our Shopping service is fast reliable & efficient, 
              We take your shopping list to the market/store 
              and get your items requested.
            </h5>
            {% if user.is_authenticated %}
            <a class="btn rounded-pill btncolor" role="button" href="{% url 'dashboard' user.id %}" > Get Started</a>            
            {% else %}
            <a class="btn rounded-pill btncolor" role="button" href="{% url 'register' %}" > Get Started</a>
            {% endif %}
          </div>
        </div>                                   
      </div>      
    </div>
  </div>

  <!--Fourth -->
  <div class="p-3 mb-4">
    <div id="landing4" class="shadow-sm" >
      <div class="container"> 
        <div class="row mb-2">          
          <div class="col-lg-12 col-md-12">
            <div class="d-flex bd-highlight justify-content-center mx-auto">
              <div class=" bd-highlight p-3">
                <img data-src="/static/FDS_app/First Laurel Logistics Tricycle.jpg" id="inner4" class="img-fluid lazy d-block " alt="First Laurel Logistics">                      
              </div>
              <div class=" flex-shrink-3 bd-highlight p-3">
                <img data-src="/static/FDS_app/First Laurel Logistics Tricycle 2021.PNG" id="inner4" class="img-fluid lazy d-block" alt="First Laurel Logistics">                      
              </div>              
            </div>                
          </div>                                         
        </div>

        <div class="row mb-3">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="">
              <h3 class="dfont text-center">IT GOES BEYOND OUR BIKE DELIVERY SERVICE</h3>
              <h5 class="dfont-8 text-justify">We have available Tricycles to convey items beyond the capacity of our bikes. 
              Also available  are trucks to convey items beyond the capacity of the Tricycles, we can also make arrangements for loading and off loading of your items. </h5>
            </div>
            <br>
            <div id="call" class="text-center">
              <h5 class="dfont-2">Call or chat us to make an arrangement</h5>
            </div>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div> 
    <!--Fifth -->
  <div class="p-3 pt-4 mb-2" id="landing_5_position" >
    <div id="landing5" class="" >
      <div class="container"> 
        <div class="row mb-2 chk_background_5">          
          <div class="col-lg-8 col-md-8" id="landing_5_column">
            <div class="d-flex bd-highlight text-md-left text-center justify-content-center mx-auto">
              <div class=" bd-highlight p-3">
                <h2 style="font-size: 40px;">WITH AS LOW AS N500 </h2>
                <h5 class="reduce text-justify">YOU HAVE YOUR ITEMS DELIVERED TO YOUR DOOR STEP OR THAT OF YOUR CUSTOMERS AROUND CALABAR</h5>                                        
                <h3 class="dfont-3">FROM ERRAND TO PICKUP DELIVERIES</h3>
              </div>
            </div>                    
          </div>  
          <div class="col-lg-4 col-md-4 justify-content-center">
            <div id="triangle-left"> </div>  
            <div id="landing_5_column2"> 
              {% if user.is_authenticated %} 
              <a class="btn btn-block text-white font-weight-bolder text-center pt-2" role="button" href="{% url 'dashboard' user.id  %}"> Request Dispatch</a> 
              {% else %}
              <a class="btn btn-block text-white font-weight-bolder text-center pt-2" role="button" href="{% url 'login' %}"> Request Dispatch</a> 
              {% endif %}
            </div>
            
          </div>                                       
        </div>          
      </div>
    </div>
  </div>

  <!--Sixth-->
  <div class="pt-4" id="landing_6_position" >
    <div id="landing6">
      <div class="container-fluid">
        <div class=" chk_background_6">
          <div class="p-3 text-center">            
            <h1  class="font-weight-bolder text-white pt-3 dfont-4" style="font-family:'Comfortaa', cursive;">
              Need An Errand Service Around Calabar?
            </h1>    
            <h5 class="text-white text-justify text-lg-center p-4 reduce-text">In a bid to relieve you of some burden and make life easier for you,
               we run different kind of errands around Calabar, we purshase the items and deliver to you.
            </h5>
            {% if user.is_authenticated %}
            <a class="btn btn-lg rounded-pill btn-light btn-padding" role="button" href="{% url 'errandmenu' user.id%}" style="width: 200px;">Give us a try</a>
            {% else %}
            <a class="btn btn-lg rounded-pill btn-light btn-padding" role="button" href="{% url 'login' %}" style="width: 200px;">Give us a try</a>
            {% endif %}
          </div>
          
          <div class="row justify-content-center sixth-position">                    
            <div class=" col-md-3 col-md-3"></div>
            <div class="col-lg-3 ">                          
              <div id="errand_items_for_6" class="">
                <img data-src="/static/FDS_app/Fuel Errand First Laurel Logistics.jpg" id="inner6" class="img-fluid lazy d-block" alt="First Laurel Logistics"> 
                <h5 class="text-white text-center font-weight-bolder" style="background-color: rgb(0, 74, 170);">Fuel Errand</h6>
                <div class="items_background_fuel shadow">
                  <p class="text-dark">
                    We purchase fuel for you from petrol stations and deliver to your location, You pay just the delviery fee.                      
                  </p>    
                  <br>              
                  <div class="d-flex flex-row bd-highlight justify-content-end mb-3">                  
                    <div class="p-2 bd-highlight  ">
                      {% if user.is_authenticated %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'fuelerrand' user.id %}">Get Started</a> 
                      {% else %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'login'  %}">Get Started</a> 
                      {% endif %}
                    </div>
                  </div>                    
                </div>
              </div>                 
            </div> 
            <div class=" col-lg-3">
              <div id="errand_items_for_6" class="mt-2">
                <img data-src="/static/FDS_app/Gas Errand First Laurel Logistics.PNG" id="inner6" class="img-fluid lazy d-block bg-white" alt="First Laurel Logistics"> 
                <h6 class="text-white text-center font-weight-bolder" style="background-color: rgb(0, 74, 170);">Gas Errand</h6>
                <div class="items_background_fuel shadow">
                  <p class="text-dark">
                    We come to your location to pickup your Gas Cylinder, we take it to the Gas station
                    for refill and bring it back to your location.
                  </p>
                  <div class="d-flex flex-row bd-highlight justify-content-end mb-3">                   
                    <div class="p-2 bd-highlight  ">
                      {% if user.is_authenticated %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'gaserrand' user.id %}">Get Started</a> 
                      {% else %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'login'  %}">Get Started</a> 
                      {% endif %}
                    </div>
                  </div>                       
                </div>
              </div> 
            </div>                                   
            <div class="col-lg-3"></div>                                                  
          </div>      
        </div>    
      </div>
    </div>
  </div>

  <!--Seventh-->
  <div class="pt-4" id="landing_7_position" >
    <div class="shift-7-up">
      <div class="container-fluid">
        <div>                    
          <div class="row justify-content-center">                    
            <div class="col-lg-3 "></div>
            <div class="col-lg-3 ">                         
              <div id="errand_items_for_7" class="">
                <img data-src="/static/FDS_app/Fruits Errand First Laurel Logistics.PNG" id="inner6" class="img-fluid lazy d-block" alt="First Laurel Logistics"> 
                <h6 class="text-white text-center font-weight-bolder" style="background-color: rgb(0, 74, 170);">Fruits Errand</h6>
                <div class="items_background bg-white shadow">
                  <p class="text-dark">
                    Lets purchase fresh fruits from your favourite vendors 
                    or from the most freshest places in Calabar and deliver to your door step.                    
                  </p>                  
                  <div class="d-flex flex-row bd-highlight justify-content-end mb-3">                    
                    <div class="p-2 bd-highlight ">
                      {% if user.is_authenticated %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'fruitserrand' user.id %}">Get Started</a> 
                      {% else %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'login'  %}">Get Started</a> 
                      {% endif %}
                    </div>
                  </div>                    
                </div>
              </div> 
            </div>
            <div class="col-lg-3">
              <div id="errand_items_for_7" class="">
                <img data-src="/static/FDS_app/Shawarma Errand First Laurel Logistics.PNG" id="inner6" class="img-fluid lazy d-block" alt="First Laurel Logistics"> 
                <h6 class="text-white text-center font-weight-bolder" style="background-color: rgb(0, 74, 170);">Shawarma Errand</h6>
                <div class="items_background bg-white shadow">
                  <p class="text-dark">
                    Your favourite shawarma from your 
                    favourite vendors can be bought and be delivered to your door step, 
                    You just pay for the cost of delivery.                    
                  </p>
                  <div class="d-flex flex-row bd-highlight justify-content-end mb-3">                   
                    <div class="p-2 bd-highlight ">
                      {% if user.is_authenticated %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'shawarmaerrand' user.id %}">Get Started</a> 
                      {% else %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'login'  %}">Get Started</a> 
                      {% endif %}
                    </div>
                  </div>                       
                </div>
              </div>                                                          
            </div>          
            <div class="col-lg-3 "></div>                                                  
          </div>      
        </div>    
      </div>
    </div>
  </div>

  <!--eight-->
  <div class="mb-2" id="landing_8_position" >
    <div id="landing6">
      <div class="container-fluid">
        <div class="">                    
          <div class="row mb-2 justify-content-center">                    
            <div class="col-lg-3 "></div>
            <div class="col-lg-3 ">                         
              <div id="errand_items_for_8" class="">
                <img data-src="/static/FDS_app/Food Errand First Laurel Logistics.PNG" id="inner6" class="img-fluid lazy d-block shadow" alt="First Laurel Logistics"> 
                <h6 class="text-white text-center font-weight-bolder" style="background-color: rgb(0, 74, 170);">Food Errand</h6>
                <div class="items_background bg-white shadow">
                  <p class="text-dark">
                    Get delicious meals to your door step anywhere around Calabar.
                    Order meals from your favourite vendors and we can deliver speedily to where ever you are
                  </p>                  
                  <div class="d-flex flex-row bd-highlight justify-content-end mb-3">                    
                    <div class="p-2 bd-highlight ">
                      {% if user.is_authenticated %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'fooderrand' user.id %}">Get Started</a> 
                      {% else %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'login'  %}">Get Started</a> 
                      {% endif %}
                    </div>
                  </div>                    
                </div>
              </div> 
            </div>
            <div class="col-lg-3 ">
              <div id="errand_items_for_8" class="">
                <img data-src="/static/FDS_app/Running Errand First Laurel Logistics.jpeg" id="inner6" class="img-fluid lazy d-block shadow" alt="First Laurel Logistics"> 
                <h6 class="text-white text-center font-weight-bolder" style="background-color: rgb(0, 74, 170);">Other Errand</h6>
                <div class="items_background bg-white shadow">
                  <p class="text-dark">
                    We go on other type of errands around Calabar, 
                    Our Tricycle is available to carry items larger than the bucket of the bike,
                    we go on errands during the weekend.
                  </p>
                  <div class="d-flex flex-row bd-highlight justify-content-end mb-3">                                    
                    <div class="p-2 bd-highlight ">
                      {% if user.is_authenticated %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'othererrand' user.id %}">Get Started</a> 
                      {% else %}
                      <a class="btn btn-danger btn-sm rounded-pill" role="button" href="{% url 'login'  %}">Get Started</a> 
                      {% endif %}
                    </div>
                  </div>                       
                </div>
              </div>                                                          
            </div>          
            <div class="col-lg-3"></div>                                                  
          </div>      
        </div>    
      </div>
    </div>
  </div>

  <!--9th-->    
  <div class="p-3 mb-2 alert-ph">
    <div id="landing9" class="shadow-sm" >
      <div class=""> 
        <div class="row justify-content-center mb-2 ">
          <div class="col-lg-3">            
          </div> 
          <div class="col-lg-6 p-3 text-white text-center">
            <h2>Delivery Service Opening in</h2>
              <h2 class="display-4">PORT HARCOURT</h2>
              <h1 class="display-4">SOON</h1>
              <h5 id="thefont2" class="mt-2">                  
               People of Port-harcourt get ready, we would be opening our branch office 
               in the city of Port-Harcourt to serve all your delivery need.
              </h5>
              <h3 class="p-3">Watch Out</h3>
          </div> 
          <div class="col-lg-3">            
          </div>                                        
        </div>
      </div>
    </div>
  </div>
  
  <!--Text Display -->
  <div class="container p-4">
    <div class="row justify-content-center d-flex">
          <!--First column-->
      <div class="col-md-3 bg-danger d-inline-block rounded shadow p-3 mr-2 mb-2">
        <div class="container">
          <div class="text-center text-sm-right text-white ">
            <dl> 
                <dt> REACH OUT TO US! </dt>
                <dd class=" text-white text-decoration-none"> Call us on: +234 90134439919,</dd>
                <dd class=" text-white text-decoration-none">+234 9138143504</dd>
                <hr>
                <dt> WORKING HOURS </dt>
                <dd>Mon-Fri 8AM-6PM</dd>
                <dd> Saturday 8AM-6PM</dd>
                <dd> Sunday 12PM-6PM</dd>
                <hr>
                <dt> OUR LOCATION</dt>
                <dd> No 10 Asi Abang Extention off Murtala Mohammed Highway Cross River State, Calabar.</dd>
            </dl>
          </div>
        </div>
      </div>
      
      <div class="col-md-8 bg-light d-inline-block text-muted rounded shadow p-3 mr-2 mb-2">
        <div class="container">
          <br>
          <br>
          <div>
              <h1> OUR SERVICES</h1>
              <h5> BECASUSE WE UNDERSTAND THE GROWING NEED OF LOGISTICS SERVICES IN RECENT TIMES,</h5>
              <ul>
                <li> First Laurel Logistics Services, ensures safe delivery of all items in our care.</li>
                  <li>We convey parcels, goods, items of all kind, sizes and shapes to your door step.</li>
                  <li>We provide Shopping Services, our specified dispatch riders go to the mall or market to purchase items you have requested for on the form in your dashboard.</li>
                  <li>We ensure items we purchase are not expired or spoilt, we buy at your specified loation if specified when submitting the form.</li>
                  <li> Efficient tracking system for all our dispatch riders to make sure your items are safe, and timely delivered.</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-md-1"> </div>
      </div>
    </div>
  </div>

  <!--footer-->
  <footer class="container-fluid" id="footer">
    <br>
    <br>
    <div class="row">
      <div class="col-md-4 col-md-auto">
        <p>©First Laurel Logistics Services </p>
        <p>RC:1791076 </p>
        <p> Calabar.  C.R.S, Nigeria</p>
        <p></p>
      </div>
      <div class="col-md-4 col-md-auto">
        <p>CONTACT US</p>
        <p> <i class="fas fa-phone-volume"></i> +234 9134439919</p>
        <p> <i class="fas fa-phone-volume"></i> +234 9138143504</p>  
        <p> <i class="fas fa-envelope-square mr-1"></i>firstlaurellogistics@gmail.com</p>
        <p><i class="fas fa-envelope-square mr-1"></i>support@flls.ng</p>
      </div>
      <div class="col-md-4 col-md-auto">
        <div class="row d-flex flex-nowrap">
          <div class="col-md-auto">
          </div>

          <div class="col-md-auto">

            <div class="d-flex flex-row bd-highlight mb-3">
              <div class="p-2 bd-highlight">
                <div class="dropdown">
                  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fab fa-facebook"></i>
                  </button>
                  <div class="dropdown-menu bg-transparent " aria-labelledby="dropdownMenu2">   
                    <a class="dropdown-item" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fm.me%2Ffirstlaurellogistics%3Ffbclid%3DIwAR2BMrnZAj-4_FqbmDd0sM5OilCS79HrX4-a2_zfx8elUfbRfdGzsCf6vtE&h=AT3nfPeypPDqsz253pOZq9sbTzCgPV3hBFVneRmBRKqRJRMySR-RSid_Hnx92HuGzqt_dm5yVH4csvWHA5FLfRA3aMKzaR_eV-uAuTPlVJyB3jmyqWNXvG8uHEXB9ly368Iekg">
                      <span><h4><i class="btn btn-outline-danger fab fa-facebook "> Chat</h4></i></span>
                    </a>
                    <a class="dropdown-item" href="https://web.facebook.com/firstlaurellogistics">
                      <span><h4><i class=" btn btn-outline-danger fab fa-facebook "></h4></i></span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="p-2 bd-highlight">
                <a href="https://www.instagram.com/firstlaurellogistics/">
                  <button type="button" class="btn btn-danger btn-md"><i class="fab fa-instagram"></i></button>
                </a>
              </div>
              <div class="p-2 bd-highlight">
                <a href="https://mobile.twitter.com/first_laurel">
                  <button type="button" class="btn btn-danger btn-md"><i class="fab fa-twitter-square"></i></button>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-auto"></div>
        </div>
      </div>
    </div>
    </div>
  </footer>
</div>
<!--Modal-->

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">SHOPPING REQUEST INFORMATION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p> With our Shopping Service we save you the time and stress needed to carter for some of your shopping needs, be it in the market or store.</p>
          <h6>To place a Shopping Request, You have to create an account, log into your dashboard and create a Shopping request</h6>
          <br>
          <h6>Make payments with your card or through bank transfer</h6>          
          <br>          
          <h6>We access the shopping list submitted and go for purchase to deliver to address given</h6>
          <br>          
          <h6> We will first deduct a delivery fee of N500 or N1000  and a purchase service fee off <strong> N500 or N700</strong>, before going to purchase your items.</h6>
          <br>
          <h5> Note: <span> <h6> If the cost of the items at the market is more than the estimated amount paid, you will be contacted to for further decision taking. If you have a balance left from the purchase, it will be returned to you on delivering your items.</h6></span></h5>        
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <div class="d-flex flex-row bd-highlight  mb-3">
          <div class="bd-highlight justify-content-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {% if user.is_authenticated %}
            <button type = "button" class=" btn btn-sm btn-danger "> 
              <a class="text-white text-decoration-none" href="{% url 'dashboard' user.id %}"> Create Request </a></button>
            {% else %}
            <button type = "button" class=" btn btn-danger "> 
              <a class="text-white text-decoration-none" href="{% url 'register' %}"> Get Started </a></button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="CashRequestForm" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Request For Dispatch Rider</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <form method="POST" enctype="multipart/form-data"> 
              {% csrf_token %}                    
                  {{ c_form|crispy }}</li>
                <button class="btn btn-outline-danger rounded-pill btn-block" type="submit">Request</button> 
          </form>
        </div>
      </div>
      <div class="modal-footer justify-content-right">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        {% if user.is_authenticated %}
        <button type = "button" class=" btn btn-sm btn-danger "> 
          <a class="text-white text-decoration-none" href="{% url 'dashboard' user.id %}"> Create Request </a></button>
        {% else %}
        <button type = "button" class=" btn btn-danger btn-sm"> 
          <a class="text-white text-decoration-none" href="{% url 'register' %}">SignUp </a>
        </button>
          <small>Create an account to view more delivery option.</small>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<style>
  #landing{
    background-color: rgb(255, 255, 255);
    border-radius: 2em;
    width: auto;
  }

  #landing2{
    background-color: rgb(255, 255, 255);
    border-radius: 2em;    
    box-shadow: 100px;
  }

  #landing3{
    background-color: rgb(255, 255, 255);
    border-radius: 2em;    
    color: rgb(117, 106, 106);
  }

  #landing4{
    background-color: rgb(255, 255, 255);
    border-radius: 2em;    
    color: rgb(117, 106, 106);
    margin: auto;
    height: 38em;
  }

  #landing5{       
    color: rgb(255, 255, 255);
    margin: auto;
  }  

  #landing9{
    background-color: rgb(0, 102, 255);
    border-radius: 2em;    
    color: rgb(117, 106, 106);
  }

  #landing_5_position{
    margin-top: 8rem;

  }

  #landing_5_column{
    background-color: rgb(27, 145, 255);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;    
    height: 12.2em;
  }

  #triangle-left{
    width: 0;
    height: 0;
    border-top: 100px solid transparent ;
    border-right: 72px solid rgb(255, 255, 255);    
    border-bottom: 104px solid transparent;  
    position: relative;     
    top: -5px;
    left: -5.4rem;        
  }

  #landing_5_column2{
    background-color: rgb(250, 199, 199);    
    border-radius: 1rem;
    font-weight: bold;
    width: 12rem;
    height: 45px; 
    position: relative;
    top: -7.6rem;   
    right: -4em;

  }

  .chk_background_5{
    background-color: white;
    height: 12.2em;
    border-radius: 2rem;
  }

  #landing_5_column2:hover {
    background-color: wheat;    
  }

  #landing_6_position{
    margin-top: 8rem;
  }

  #landing_7_position{
    margin-top: 25rem;
    position: relative;
  }

  #landing_8_position{
    margin-top: 8rem;
    position: relative;
  }

  
  .chk_background_6{
    background-image: linear-gradient(rgb(24, 124, 255), rgb(0, 74, 170)
    );    
    position: relative;    
    height: 25rem;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }  

  .items_background{    
    padding: 10px;    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: -8px;        
    width: 100%;    
    height: 100%;
  }

  .items_background_fuel{
    position: relative;
    top: -6px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  .fuel{
    height: 200px;
  }

  .to-right{
    position: relative;
    left: 5rem;
  }

  #errand_items_for_6{  
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  

  #inner2{
    border-radius: 15px;  
  }

  #inner2:hover{    
    border-style: solid;
    border-color: rgb(200, 235, 255);
  }

  #inner3{
    border-radius: 15px;     
  }

  #inner4{
    border-radius: 15px;  
    width: 100%;   
  }

  #inner6{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
  }

  #background-color {
    background-color: rgb(245, 245, 245);
  }
  #thefont {
    font-size: 25px;    
  }  
  #thefont2 {
    font-size: 23px;    
  }  

  .chk{
    font-weight: bold;
  }

  .btncolor{
    background-color: lightpink;
    width: 10rem;
    font-weight: bold;
    position: relative;    
    margin-bottom: 20px;      
  }

  .btncolor:hover {
    background-color: rgb(243, 116, 135);
    color: white;
    border: rgb(241, 111, 130);
    border-style: solid;
  }

  #call {
           padding: 10px;
           background-color: rgb(185, 0, 31);
           border-radius: 1rem;
           color: rgb(255, 255, 255);
           position: absolute;
           font-weight: bold;
           font-family: 'Comfortaa', cursive;
           width: 38em;
           bottom: -4em;  
           right: 30px;        
       }


    @media only screen and (max-width: 400px){
    .dfont{
      font-size: 20px;
    }

    .dfont-2{
      font-size: 15px;
      margin-bottom: 8px;
      
    }

    .reduce{
      font-size: 15px;
    }

    .reduce-text{
      font-size: 18px;
      text-justify: distribute-all-lines;      
    }

    .dfont-3{
      font-size: 20px;
    }

    .dfont-4{
      font-size: 35px;
    }


    .dfont-5{
      font-size: 30px;
    }

    .dfont-6{
      font-size: 15px;
    }

    .dfont-7{
      font-size: 40px;
    }

    .dfont-8{
      font-size: 19px;
    }

    #thefont{
      font-size: 22px;
    }

    #thefont2{
      font-size: 20px;
    }

    .btn-padding{
      top: 15px;
      position: relative;
    }

    #landing_5_column2{
    background-color: rgb(1, 71, 150);    
    border-radius: 1rem;
    font-weight: bold;
    width: 12rem;
    height: 45px; 
    position: relative;   
    top: 5px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }  

  #call {
      background-color: rgb(114, 33, 114);
      width: 80%;
      height: 15%;
      left: 50%;
      right: 50%;   
      position: relative;  
      top: 4rem;  
      transform: translate(-50%, -50%);
      text-justify: distribute-all-lines;
    }
  }


  @media only screen and (max-width: 600px) {
    #call {
      background-color: rgb(114, 33, 114);
      width: 90%;
      left: 50%;
      right: 50%;     
      bottom: -40%;  
      transform: translate(-50%, -50%);
    }
    #landing4 {
      height: 28rem;
    }

    #triangle-left{
    width: 0;
    height: 0;
    border-top: 0px solid transparent ;
    border-right: 0px solid;    
    border-bottom: 0px solid transparent;  
    position: relative;     
    top: -0px;
    left: -0rem;        
  }
    #landing_5_column{
    background-color: rgb(27, 145, 255);
    border-radius: 3rem;
    height: auto;
    }

    #landing_5_position{
    margin-top: 3rem;

  }

  #landing_5_column2{
    background-color: rgb(0, 68, 95);    
    border-radius: 1rem;
    font-weight: bold;
    width: 12rem;
    height: 45px; 
    position: relative;   
    top: -5px;   
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }  

  .chk_background_6{
    background-image: linear-gradient(rgb(24, 124, 255), rgb(0, 74, 170)
    );          
    height: 25rem;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    padding: 2px;   
  }  

  #errand_items_for_6{  
    padding: 40px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 0px;
    width: 100%;  
    background-color: transparent; 
    position: relative;
    top: -6em; 
  }  

  #landing_6_position{
    margin-top: 8rem;
  }

  .sixth-position {
    margin-top: 4rem;
  }

  .reduce-text{
    font-size: 16px;
    margin-top: -38px;
    text-justify: distribute-all-lines;
  }

  .btn-padding{
    margin-top:-50px;
  }
  
  .items_background_fuel{
    position: relative;
    top: -6px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  .items_background{    
    padding: 10px;    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: -8px;        
    width: 100%;    
    height: 100%;  
  }

  #errand_items_for_7{  
    padding: 40px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 0px;
    width: 100%;  
    background-color: transparent; 
    position: relative;
    top: -7em; 
  }

  #errand_items_for_8{  
    padding: 40px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 0px;
    width: 100%;  
    background-color: transparent; 
    position: relative;
    top: -7em; 
  }

  #landing_7_position{
    margin-top: 65rem;
    position: relative;
  }
  
  .shift-7-up{
    margin-top: 3rem;
  }

  #landing_8_position{
    margin-top: -1rem;
    position: relative;
  }


  #landing9{
    background-color: rgb(0, 102, 255);
    border-radius: 2em;    
    color: rgb(117, 106, 106);
    position: relative;
    top: -5rem;
  }
  }

  
  @media only screen and (min-width: 600px) {
    #call {
      background-color: violet;      
      width: 90%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);    
    }

    #landing4 {
      height: 29rem;
    }

    #inner3{
    border-radius: 15px;  
    height: 400px;   
    width: 500px;    
  }  

  #landing_5_column{
    background-color: rgb(27, 145, 255);
    height: 17.5rem;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }

  #triangle-left{
    width: 0;
    height: 0;
    border-top: 0px solid transparent ;
    border-right: 0px solid;    
    border-bottom: 0px solid transparent;  
    position: relative;     
    top: -0px;
    left: -0rem;        
  }
  
  #landing_5_column2{
    background-color: rgb(0, 68, 95);    
    border-radius: 1rem;
    font-weight: bold;
    width: 12rem;
    height: 45px; 
    position: relative;   
    top: 5px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }  

  #errand_items_for_6{  
    padding: 40px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: -7rem;
    width: 100%;  
    background-color: transparent;  
  }

  .sixth-position {
    margin-top: 6rem;
  }
  .reduce-text{
    font-size: 20px;
    margin-top: -38px;
    text-justify: distribute-all-lines;
  }

  .btn-padding{
    margin-top:-20px;
  }
  .items_background_fuel{
    position: relative;
    top: -6px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  #inner6{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
    width:40rem;
  }

  #errand_items_for_7{  
    padding: 40px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 0px;
    width: 100%;  
    background-color: transparent; 
    position: relative;
    top: -7em; 
  }

  .shift-7-up{
    margin-top: 9rem;
    position: relative;
  }

  #errand_items_for_8{  
    padding: 40px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 0px;
    width: 100%;  
    background-color: transparent; 
    position: relative;
    top: -7em; 
  }

  #landing_6_position{
    margin-top: 8rem;
    position: relative; 
  }
  #landing_7_position{
    margin-top: 79rem;  
    position: relative;  
  }

  #landing_8_position{
    margin-top: -3rem;
    position: relative;
  }  
  }


  @media only screen and (min-width: 768px) {
    #call {
      background-color: rgb(0, 57, 133);
      width: 90%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);    
    }
    #landing4 {
      height: 28rem;
    }
    #inner3{
    border-radius: 15px;  
    height: 400px;   
    width: 500px;
  }

  .chk_background_5{
    background-color: white;
    height: 17.5em;
    border-radius: 2rem;
  }

  #triangle-left{
    width: 0;
    height: 0;
    border-top: 145px solid transparent ;
    border-right: 72px solid rgb(255, 255, 255);    
    border-bottom: 145px solid transparent;  
    position: relative;     
    top: -5px;
    left: -5.4rem;        
  }

  #landing_5_column2{
    background-color: rgb(250, 199, 199);    
    border-radius: 1rem;
    font-weight: bold;
    width: 12rem;
    height: 45px; 
    position: relative;
    top: -7.6rem;   
    right: -1em;
  }

  #landing_5_column{
    background-color: rgb(27, 145, 255);
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;      
  }  

  #errand_items_for_6{  
    padding: 40px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 0px;
    width: 70%;   
    background-color: transparent;  
    position: relative;
    top: 25rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }

  .sixth-position {
    margin-top: -5rem, 6rem;
  }
  .items_background_fuel{
    position: relative;
    top: -6px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  #inner6{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
    width:100%; 
  } 

  #errand_items_for_7{  
    padding: 40px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 0px;
    width: 70%;  
    background-color: transparent; 
    position: relative;
    top: -7em; 
    top: 25rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }

  #errand_items_for_8{  
    padding: 40px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 0px;
    width: 70%;  
    background-color: transparent; 
    position: relative;
    top: -7em; 
    top: 25rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }

  #landing_7_position{
    margin-top: 78rem;
    position: relative;
  }

  #landing_8_position{
    margin-top: 1rem;
    position: relative;
  }

  #landing9{
    background-color: rgb(0, 102, 255);
    border-radius: 2em;    
    color: rgb(117, 106, 106);
    margin-top: 35px;
  }

  .shift-7-up{
    margin-top: -9rem;
  }
  }

  @media only screen and (min-width: 992px) {
    #call {
      background-color: rgb(0, 170, 65);
      width: 90%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);    
    }
    #landing4 {
      height: 36rem;
    }

    #inner3{
    border-radius: 15px;  
    height: 400px;   
    width: 500px;
  }

  #landing_5_column2{
    background-color: rgb(250, 199, 199);    
    border-radius: 1rem;
    font-weight: bold;
    width: 12rem;
    height: 45px; 
    position: relative;
    top: -7.6rem;   
    right: -1em;
  }

  #landing_5_column{
    padding: 10px;
    background-color: rgb(27, 145, 255);
    height: 15rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;      
  } 

  #triangle-left{
    width: 0;
    height: 0;
    border-top: 130px solid transparent ;
    border-right: 72px solid rgb(255, 255, 255);    
    border-bottom: 118px solid transparent;  
    position: relative;     
    top: -px;
    left: -5rem;   
  }  

  .reduce{
    font-size: 18px;
  }

  .chk_background_5{
    background-color: white;
    height: 15em;
    border-radius: 2rem;
  }

  #errand_items_for_6{  
    padding: 0px;
    border-radius: 1em;    
    margin-right: 10px;
    margin-top: 20px;
    width: 100%;  
    background-color: transparent;  
    position: unset;
    top: 10rem;
    right: 0%;
    left: 0%;
    transform: translate(0%, 0%);  
  }
  .items_background_fuel{    
    top: -7px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  #inner6{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
    width:100%;
  }

  .sixth-position {
    margin-top: 1rem;
  }

  #errand_items_for_7{  
    padding: 0px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 20px;
    width: 100%;  
    background-color: transparent; 
    position: relative;
    top: -7em; 
    top: 25rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }

  #errand_items_for_8{  
    padding: 0px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 20px;
    width: 100%;  
    background-color: transparent; 
    position: relative;
    top: -7em; 
    top: 25rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }

  #landing_7_position{
    margin-top: 22rem;    
  }  

  .alert-ph{
    margin-top: 15%;
  }

  .shift-7-up{
    margin-top: -14rem;
  }

  }
  
  @media only screen and (min-width: 1200px) {
    #call {
      background-color: rgb(167, 170, 0);
      width: 90%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);    
    }
    #landing4 {
      height: 36rem;
    }

    .sixth-position {
    margin-top: 5rem;  
  }

  #inner3{
    border-radius: 15px;     
    width: 100%;
  }

  .items_background{    
    padding: 10px;    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: -8px;        
    width: 100%;    
    height: 100%;
  }

  #errand_items_for_6{  
    padding: 0px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: 0px;
    width: 100%;   
    background-color: transparent;  
    position: relative;
    top: 14rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }

  #landing_7_position{
    margin-top: 11rem;   
    position: relative;
    top: 22rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
  } 

  #errand_items_for_7{  
    padding: 0px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: -190px;
    width: 100%;  
    background-color: transparent; 
  }

  .shift-7-up{
    margin-top: 3rem;
  }

  #landing_8_position{
    margin-top: 18rem;   
    position: relative;
    top: 16rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

  #errand_items_for_8{  
    padding: 0px;
    border-radius: 1em;    
    margin-right: 20px;
    margin-top: -170px;
    width: 100%;  
    background-color: transparent; 
    position: relative;   
  }

  .alert-ph{
    margin-top: 30%;
  }

  #landing_6_position{
    margin-top: 8rem;
  }
  
  }

</style>

<script>
  document.addEventListener("DOMContentLoaded", 
  function() {
    var lazyloadImages = document.querySelectorAll("img.lazy");
    var lazyloadThrottleTimeout;

    function lazyload () {
      if(lazyloadThrottleTimeout) {
        clearTimeout(lazyloadThrottleTimeout);        
      }
      lazyloadThrottleTimeout = setTimeout(function() {
        var scrollTop = window.pageYOffset;
        lazyloadImages.forEach(function(img)
        {
          if(img.offsetTop < (window.innerHeight + scrollTop)) {
            img.src = img.dataset.src;
            img.classList.remove('lazy');            
          }
        });
        if(lazyloadImages.length == 0) {
          document.removeEventListener("scroll", lazyload);
          window.removeEventListener("orientationChange", lazyload);
        }
      }, 20);
    }
    document.addEventListener("scroll", lazyload); 
    window.addEventListener("resize", lazyload);
    window.addEventListener("orientationChange", lazyload);
  });
</script>
{% endblock content %}