{% extends "FDS_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Home-First Laurel Logistics {% endblock title%}

{% block content %}
<div class="pt-1" style="background-color: rgb(255, 255, 255);">
<div class="container-fluid"> 
  <div class="row align-items-lg-center mb-2 pb-md-2">
    <div class="col-md-1 order-1"></div>  

        <div class="col-md-6  text-dark container order-6 pt-3">
          <div class="text-center text-lg-left" >
            <h1 class="font-weight-bolder" style="font-family:'Comfortaa', cursive;"> Welcome to First Laurel Logistics Services. </h1>
            <h1 style="font-family: 'Fredoka One', cursive;">Need Deliveries?</h1>
            <h5> Just relax and lets take care of all your delivery needs. </h5>
            <h5>Our delivery service coverage is within Calabar and it environs.</h5>
 
            <div class="dropdown" id="myDropdown">
              <button class="btn btn-lg btn-danger rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Get Started
              </button>

              <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                {% if user.is_authenticated %}
                  <a  href="{% url 'dashboard' user.id  %}" class=" text-dark text-decoration-none">Dashboard</a> </button>
                  {% else %}
                  <a  href="#" class="text-dark text-decoration-none text-center" data-toggle="modal" data-target="#CashRequestForm">Request Dispatch</a> </button>
                  <hr>
                  <p>Call: +234 90134439919 </p>
                  <hr>
                  <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
          
          <form action="{% url 'search' %}" method="get">
            <div class="form-group" id="div_id_order_id" >
              <label for="id_order_id" class></label>
              <div>
                <input type="text" 
                       name="order_id"  
                       class="textinput textInput form-control" 
                       id="id_order_id" 
                       {% if myFilter2.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}
                       placeholder="Enter Reference ID to check Your Request order Status">
              </div>
              <button class="mt-2 btn btn-light  shadow-sm rounded-pill btn-block my-sm-2" type="submit">Search</button>
            </div>    
          </form>
        </div>

    <div class="col-md-5 text-center order-1 order-md-6 mt-4">
      <img src="/static/FDS_app/6447.png" class="img-fluid mx-auto d-block" alt="Landing Image">
      <a href='https://www.freepik.com/vectors/logo'class="text-decoration-none text-light">
       <small> Logo vector created by pch.vector - www.freepik.com </small></a>
    </div>
  </div>
</div>
<br>
<br>

<!--NEXT -->
<div class="container-fluid mb-5" style="background-image: linear-gradient(to right, rgb(84, 180, 224),rgb(1, 142, 197));">
  <div class="row">
    <div class="col-md-6">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/FDS_app/6447.png" class="d-block img-fluid w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/FDS_app/6447.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/FDS_app/6447.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div class=" text-white p-4 text-center text-lg-left text-truancate mb-2 rounded" style=" height: 15rem;"> 
        <h4>With a great number of dispatch utility, Dispatch Riders!</h4>
          <p class="lead"> and experienced management, we give you the best of delivery service in Calabar you can rely on. </p>
      </div>
    </div>
  </div>
</div>

<!--Shopping-->
<div class="container-lg mb-4 bg-light" >
  <div class="row">
    <div class="col-md-6">
      <div class=" text-white p-4 text-center text-lg-left text-truancate rounded" style=" height: 15rem;"> 
      <br>
        <h3 style="color: rgb(0, 0, 70);"> You need help Shopping? </h3>
          <p class="lead text-dark" > 
            Our shopping service is fast, reliable & Efficient, we 
            take your shopping list to the market/store and get your items as requested.
          </p>
      </div> 
      <div class="d-flex flex-row bd-highlight justify-content-center mb-3">
        <div class=" bd-highlight">
          <button type="button" class=" text-decoration-none btn btn-danger rounded-pill " data-toggle="modal" data-target="#staticBackdrop" href="#">Click for more</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-2">
        <img src="/static/FDS_app/shopping.jpg" class="rounded-lg img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>
  

<!--large-->
<div class="container-lg bg-light mb-4" >
  <div class="row">
    <div class="col-md-6">

      <div class="p-2">
        <img src="/static/FDS_app/driver.jpg" class="rounded-lg img-fluid" alt="...">
      </div>
      
    </div>
    <div class="col-md-6">
      <div class=" text-dark text-center text-lg-left text-white mb-2 " style=" height: 15rem;"> 
        <br>
        <br>
        <h3> You need a larger Truck? </h3>
        <p class="lead"> Our services goes as far as conveying items 
           of greater sizes, arrange loading and off
           loading of your item of all shapes and sizes. 
           Call or chat us through our various channels for your booking. </p>
      </div>
    </div>
  </div>
</div>
  
 
<div class="container-fluid mx-auto mb-4 p-3" style="background-color: rgb(8, 149, 204);">
  <div class="row">
    <div class="col-md-5 mx-auto justify-content-center order-1">
      <img src="/static/FDS_app/Tricycle.png" class="p-2 rounded float-right img-fluid" alt="Tricycle">
    </div>

    <div class="col-md-7 order-md-6 ">
      <div class="text-center text-md-left text-white"> 
        <br>
        <br>
        <h2 class="font-weight-bold ">With as low as <span class="display-4 font-weight-bold">N500</span> You can have your items delivered around Calabar.</h2>
        <p class="lead"> Price may Vary if your item is going to locations outside Calabar like (8miles, Anantiga, Odukpani, Akpabuyo.) </p>
        <p class="lead"> If we go shopping for you, the cost for dispatch would be decided base on the quantiy of items we purchase and Transport vehicle it best suits into </p>
        <a class="btn btn-danger btn-lg rounded-pill text-white" href="{% url 'fds-pricing' %}" role="button">Learn more</a>
      </div>
    </div> 
      <div class="col-md-1 order-md-6"></div>
  </div>
</div>

<div class=" container p-4">
  <div class="row"> 
    <div class="col-md-3 "> 
      <h3 class="text-danger font-weight-bold">Our Delivery Service Covers</h3>
    </div>
    <div class="col-md-9">
        <div class="d-flex flex-row bd-highlight justify-content-between mb-3">
        <div class="p-3 shadow-sm bd-highlight">
          <h5 class="text-info"> Special Delivery Service</h5>
            <hr>
            <p > Pick up order/shopping</p>
            <p>Inn Shopping </p>
        </div>
        <div class="p-3 shadow-sm bd-highlight">
          <h5 class="text-info">Home Delivery Service</h5>
            <hr>
            <p >All kind of Delivery Service</p>
            <p >Parcel, food, envelopes e.t.c. </p>
        </div>
        <div class="p-3 shadow-sm bd-highlight">
          <h5 class="text-info">Special Logistics Service</h5>
            <hr>
            <p> Cargo Haulage</p>
            <p> Heavy duty packages</p>
        </div>
      </div>
    </div>        
  </div>

<!--Text Display -->

<div class="container p-4">
  <div class="row d-flex justify-content-center">
        <!--First column-->
    <div class="col-md-3 bg-danger d-inline-block rounded shadow p-3 mr-2 mb-2">
      <div class="container">
        <div class="text-center text-sm-right text-white ">
          <dl> 
              <dt> REACH OUT TO US! </dt>
              <dd class=" text-white text-decoration-none"> Call us on: +234 90134439919,</dd>
              <dd class=" text-white text-decoration-none">+234 9138143504</dd>
              <hr>
              <dt> WORKING HOURS </dt>
              <dd>Mon-Fri 8AM-6PM</dd>
              <dd> Sat 8AM-5PM</dd>
              <hr>
              <dt> OUR LOCATION</dt>
              <dd> No 10 Asi Abang Extention off Murtala Mohammed Highway Cross River State, Calabar.</dd>
          </dl>
        </div>
      </div>
    </div>

        <!--second column-->
    
      <div class="col-md-8 bg-light d-inline-block text-muted rounded shadow p-3 mr-2 mb-2">
        <div class="container">
          <br>
          <br>
          <div>
              <h1> OUR SERVICES</h1>
              <h5> BECASUSE WE UNDERSTAND THE GROWING NEED OF LOGISTICS SERVICES IN RECENT TIMES,</h5>
              <ul>
                <li> First Laurel Logistics Services, ensures safe delivery of all items in our care.</li>
                  <li>We convey parcels, goods, items of all kind, sizes and shapes to your door step.</li>
                  <li>We provide Shopping Services, our specified dispatch riders go to the mall or market to purchase items you have requested for on the form in your dashboard.</li>
                  <li>We ensure items we purchase are not expired or spoilt, we buy at your specified loation if specified when submitting the form.</li>
                  <li> Efficient tracking system for all our dispatch riders to make sure your items are safe, and timely delivered.</li>
              </ul>
          </div>
        </div>
      </div>
    
        <!--third-->
    <div class="col-md-1"> </div>
  </div>
</div>
</div>

<!--footer-->
<div class="container-fluid" id="footer">
  <!--COlumn-->
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-auto">
      <p>©First Laurel Logistics Services </p>
      <p> Calabar.  C.R.S, Nigeria,  </p>
      <p></p>
    </div>
    <div class="col-md-4 col-md-auto">
      <p>CONTACT US</p>
      <p> <i class="fas fa-phone-volume"></i> +234 90134439919</p>
      <p> <i class="fas fa-phone-volume"></i> +234 9138143504</p>  
      <p> <i class="fas fa-envelope-square"></i> firstdeliveries@gmail.com</p>
    </div>
    <div class="col-md-4 col-md-auto">
      <div class="row d-flex flex-nowrap">
        <div class="col-md-auto">
        </div>

        <div class="col-md-auto">

          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fab fa-facebook"></i>
                </button>
                <div class="dropdown-menu bg-transparent " aria-labelledby="dropdownMenu2">   
                  <a class="dropdown-item" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fm.me%2Ffirstlaurellogistics%3Ffbclid%3DIwAR2BMrnZAj-4_FqbmDd0sM5OilCS79HrX4-a2_zfx8elUfbRfdGzsCf6vtE&h=AT3nfPeypPDqsz253pOZq9sbTzCgPV3hBFVneRmBRKqRJRMySR-RSid_Hnx92HuGzqt_dm5yVH4csvWHA5FLfRA3aMKzaR_eV-uAuTPlVJyB3jmyqWNXvG8uHEXB9ly368Iekg">
                    <span><h4><i class="btn btn-outline-danger fab fa-facebook "> Chat</h4></i></span>
                  </a>
                  <a class="dropdown-item" href="https://web.facebook.com/firstlaurellogistics">
                    <span><h4><i class=" btn btn-outline-danger fab fa-facebook "></h4></i></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-2 bd-highlight">
              <a href="https://www.instagram.com/firstlaurellogistics/">
                <button type="button" class="btn btn-danger btn-md"><i class="fab fa-instagram"></i></button>
              </a>
            </div>
            <div class="p-2 bd-highlight">
              <a href="https://mobile.twitter.com/first_laurel">
                <button type="button" class="btn btn-danger btn-md"><i class="fab fa-twitter-square"></i></button>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-auto">
          
        </div>
        </div>
      
    </div>

  </div>
  
</div>
</div>
<!--Modal-->

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">SHOPPING REQUEST INFORMATION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p> With our Shopping Service we save you the time and stress needed to carter for some of your shopping needs, be it in the market or store.</p>
          <h6>To place a Shopping Request, You have to create an account, log into your dashboard and create a Shopping request</h6>
          <h6>Transfer the estimated amount for purchase to our account number displayed on the green notifcation, Or check for our account number on your menu bar.</h6>
          <h6> When we confirm payment, we access the shopping list submitted to determine the space it would occupy, <strong>If all items can fit in the bike bucket, the cost would be N500 else the cost is N1000. </strong></h6>
          <h6>We will first deduct the cost of delivery and the purchase service fee which is <strong> N600 </strong>, before going to purchase your items.</h6>
          <h5> Note: <span> <h6> If the cost of the items at the market is more than the money at hand, you will be contacted to for further decision, if you have a balance left from the purchase, it will be returned to you or you choose to leave it in your wallet with us for future purchase.</h6></span></h5>

        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <div class="d-flex flex-row bd-highlight  mb-3">
          <div class="bd-highlight justify-content-start">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {% if user.is_authenticated %}
            <button type = "button" class=" btn btn-sm btn-danger "> 
              <a class="text-white text-decoration-none" href="{% url 'dashboard' user.id %}"> Create Request </a></button>
            {% else %}
            <button type = "button" class=" btn btn-danger "> 
              <a class="text-white text-decoration-none" href="{% url 'register' %}"> Get Started </a></button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade p3" id="CashRequestForm" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Request For Dispatch Rider</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <form method="POST" enctype="multipart/form-data"> 
              {% csrf_token %}                    
                  {{ c_form|crispy }}</li>
                <button class="btn btn-outline-danger rounded-pill btn-block" type="submit">Request</button> 
          </form>
        </div>
      </div>
      <div class="modal-footer justify-content-right">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        {% if user.is_authenticated %}
        <button type = "button" class=" btn btn-sm btn-danger "> 
          <a class="text-white text-decoration-none" href="{% url 'dashboard' user.id %}"> Create Request </a></button>
        {% else %}
        <button type = "button" class=" btn btn-danger btn-sm"> 
          <a class="text-white text-decoration-none" href="{% url 'register' %}">SignUp </a>
        </button>
          <small>Create an account to view more delivery option.</small>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}