{% extends "FDS_app/base.html" %}
{% load static %}

{% block title %} Price {% endblock title%}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h6 class="display-4"> COST OF SERVICE</h6>
            <p class="lead"> The size of your item determines the price we will charge you or thou we have several flat charge depending on which means of transportation you will be using  </p>
            <p class="lead">We have our the bikes like any other dispatch ride we can</p>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}