{% extends "FDS_app/base.html" %}
{% load static %}

{% block title %} Service Cost- First Laurel Logistics {% endblock title%}

{% block content %}
<br>
<div class="container">
    <div class="row pb-5">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-justify">
            <h3> COST OF SERVICE</h3>
              <p class=""> Basically we have an average cost of N500 for bike deliveries and N1,000 for Trycycle deliveries. For other larger items the price becomes negotiable depending on the weight and size of the item.</p>
                <p > The point of delivery plays a huge factor in determining the increase in cost of deliveries, if your item is going to a Geographical Location like Anantiga, Odukpani and Akpabuyo the cost for delivery would increase to N700 for Bike deliveries and N1500 for Tricycle deliveries.</p>
                <hr>
              <p> The cost for In-Shopping takes a slightly different approach, in which the cost for dispatch is thesame, depending on what space your items occupies. <strong> A service fee of N600 applies on all orders.</strong> </p>
              <p>The amount for dispatch and service fee would first be deducted before going for the purchase, if at the point of purchasing your items the estimated cash transfered to us is not sufficient to fully purchase all that is on the list, we will give you a call to make further decision. 
                And if the money is sufficient and you have a blance(change) left, we would return back your change or keep it and add for further purchase depending on how you want it.
              </p>
              <hr>
              <p >We will try in our best capacity to keep our prices fair enough while giving you the best of service. Reach out to us for further enquiry and compliant.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container-fluid" id="footer">
    <!--COlumn-->
    <br>
    <br>
  <div class="row">
    <div class="col-md-4 col-md-auto">
        <p>© First Laurel Logistics Services </p>
        <p>Nigeria, C.R.S, Calabar. </p>
        <p></p>
    </div>

    <div class="col-md-4 col-md-auto">
        <p>CONTACT US</p>
        <p> <i class="fas fa-phone-volume"></i> +234 90134439919</p>
        <p> <i class="fas fa-phone-volume"></i> +234 9138143504</p>  
        <p> <i class="fas fa-envelope-square"></i> firstdeliveries@gmail.com</p>
    </div>

    <div class="col-md-4 col-md-auto">
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fab fa-facebook"></i>
            </button>
            <div class="dropdown-menu bg-transparent " aria-labelledby="dropdownMenu2">   
              <a class="dropdown-item" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fm.me%2Ffirstlaurellogistics%3Ffbclid%3DIwAR2BMrnZAj-4_FqbmDd0sM5OilCS79HrX4-a2_zfx8elUfbRfdGzsCf6vtE&h=AT3nfPeypPDqsz253pOZq9sbTzCgPV3hBFVneRmBRKqRJRMySR-RSid_Hnx92HuGzqt_dm5yVH4csvWHA5FLfRA3aMKzaR_eV-uAuTPlVJyB3jmyqWNXvG8uHEXB9ly368Iekg">
                <span><h4><i class="btn btn-outline-danger fab fa-facebook "> Chat</h4></i></span>
              </a>
              <a class="dropdown-item" href="https://web.facebook.com/firstlaurellogistics">
                <span><h4><i class=" btn btn-outline-danger fab fa-facebook "></h4></i></span>
              </a>
            </div>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <a href="https://www.instagram.com/firstlaurellogistics/">
            <button type="button" class="btn btn-danger btn-md"><i class="fab fa-instagram"></i></button>
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a href="https://mobile.twitter.com/first_laurel">
            <button type="button" class="btn btn-danger btn-md"><i class="fab fa-twitter-square"></i></button>
          </a>
        </div>
      </div>
    </div>  
  </div>
</div> 

{% endblock content %}