{% extends "FDS_app/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Search Result {% endblock title %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-lg-4 col-xl-4">
        <div class="p-3 text-dark shadow rounded-lg " style="background-color: rgb(253, 253, 253);">
        {% if query %}
            {% with results.count as total_results %}
            <div class="p-1 bg-light rounded-pill shadow-sm text-center">Found {{ total_results }} result{{ total_results|pluralize }}</div>
            {% endwith %}
            <br>            
            {% for r in results %}
            <table class="table text-left justify-content-center">
                <thead>
                  <tr>                                    
                  </tr>
                </thead>
                <tbody>
                  <tr>                    
                    <td class="font-weight-bold">Item Description</td>
                    <td>{{r.Package_description}}</td>                    
                  </tr>
                  <tr>                    
                    <td  class="font-weight-bold">Choice for TP</td>
                    <td>{{ r.Choice_for_TP}}</td>                    
                  </tr>
                  <tr>
                    <td  class="font-weight-bold">Pickup location</td>
                    <td>{{ r.Your_location }}</td>                    
                  </tr> 
                  <tr>                    
                    <td class="font-weight-bold">Your Number</td>
                    <td>{{r.Your_phone_number}}</td>                    
                  </tr>
                  {% if r.receiver_name %}   
                  <tr>                    
                    <td class="font-weight-bold">Receiver Name</td>
                    <td>{{r.receiver_name}}</td>                    
                  </tr> 
                  {% endif %}
                  {% if r.receiver_address %}
                  <tr>                    
                    <td class="font-weight-bold">Receiver Address</td>
                    <td>{{r.reciever_address}}</td>                    
                  </tr>  
                  {% endif%} 
                  {% if r.reciever_contact %}
                  <tr>                    
                    <td class="font-weight-bold">Receiver Number</td>
                    <td>{{r.reciever_contact}}</td>                    
                  </tr>
                  {% endif %}
                  <tr>                    
                    <td class="font-weight-bold"> Date Created</td>
                    <td>{{r.date_created}}</td>                    
                  </tr> 
                  <tr>
                    <td class="font-weight-bold">Location</td>
                    <td>{{r.Location}}</td>                    
                  </tr> 
                  <tr>                    
                    {% if r.status == 'Pending' %}
                    <td class="font-weight-bold"> Delivery Satus</td>
                    <td><span class="bg bg-warning rounded-lg font-weight-bold text-white p-1">{{r.status}}</span></td>  
                    {% elif r.status == 'Out for delivery' %}    
                    <td class="font-weight-bold"> Delivery Satus</td>
                    <td><span class="bg bg-info text-white p-1">{{r.status}}</span></td>        
                    {% elif r.status == 'Delivered' %}          
                    <td class="font-weight-bold"> Delivery Satus</td>
                    <td><span class="bg bg-success  text-white p-1">{{r.status}}</span></td> 
                    {% else%} 
                    <td class="font-weight-bold"> Delivery Satus</td>
                    <td><span class="bg bg-danger p-1">{{r.status}}</span></td> 
                    {% endif %}
                  </tr> 
                  <tr>
                    <td class="font-weight-bold"> Amount Paid</td>
                    <td>N{{r.Amount_Paid}}</td>                    
                  </tr>     
                  <tr>                    
                    <td class="font-weight-bold">Reference Number</td>
                    <td> {{r.order_id}}</td>                    
                  </tr>                      
                </tbody>
              </table>                                                                                                                      
                <br>
                {% empty %}
                <small>No results Found: Request for dispatch and fill in your Reference ID to view your request status.</small>
                <small> Or fill in the correct Reference ID to view your details.</small>
                {% endfor %}            
        {% endif %}
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock content %}