#third{ 
    background-image: url("/static/FDS_app/woman.jpg") no-repeat fixed   ;
    background-repeat:no-repeat;
background-size:100%;

}


#tdStyle{
background-image:url('/static/FDS_app/woman.jpg');
background-repeat:no-repeat;
background-size:100%;
background-position-y: -5rem;

}


.chatservice{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3000;
    color: aliceblue;

}

#footer {
    
    position: inherit;
    left: 0;
    bottom: 100;
    width: 100%;
    background-color: rgb(59, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
 }

 