.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode
.pyc
pip-log.txt 
pip-delete-this-directory.txt 

*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
FDS_site/static/
FDS_site/settings.py
FDS_site/__init__.py