.env
.vscode
.pyc
pip-log.txt 
pip-delete-this-directory.txt 

*.log
*.pot
*.pyc
__pycache__
db.sqlite3
.cpanel.yml
media/
static/
migrations/
.settings.py
/FDS_site/settings.py
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/FDS_site/__init__.py