{% extends "Affiliate/Affiliate_dashboard.html" %}
{% load static%}
{% load crispy_forms_tags %}

{% block title %}Delivery List {{user.username }} {% endblock title %}

{% block content %}
<main class="container mt-1">
    <div class="row no-gutters">
        <div class="col mt-4">   

            <div class="mb-4">
                <h5>ALL AFFILIATE MARKETERS</h5>
            </div> 

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Referal ID</th>
                    <th scope="col">Marketer Name</th>
                    <th scope="col">Total Referal</th>
                    <th scope="col">Amount Generated</th>
                    <th scope="col">Amount Credited</th>
                    <th scope="col">Cashed Out</th>
                    <th scope="col">Wallet Balance</th>
                    <th scope="col">Our Profit(80%)</th>                     
                  </tr>
                </thead>
                <tbody>
                {% for i in all_marketers %}
                  <tr>                      
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{i.Referal_ID}}</td>
                    <td>{{i.Marketer.first_name}} {{i.Marketer.last_name}}</td>
                    <td>{{i.Total_Referal}}</td>
                    <td>{{i.Amount_Genreated}}</td>
                    <td>{{i.Amount_Credited}}</td>
                    <td>{{i.cashed_out}}</td>
                    <td>{{i.Wallet_Balance}}</td>
                    <td>{{i.Profit_Generated}}</td>                 
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>            
    </div>
</main>

<style>  
   
</style>

{% endblock content %}