{% extends "FDS_app/base.html" %}
{% load static%}
{% load crispy_forms_tags %}

{% block title %}Marketer Dashboard {{user.username }} {% endblock title %}

{% block content %}

<div class="container-fluid mt-1">    
    <div class="row">
        <div class="col">
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                <div class="p-2 bd-highlight">                    
                    <div class="spinner-border htmx-indicator text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <a href="{% url 'balance_status' user.id %}" class="btn btn-sm text-white request" role="button">
                        Payout                        
                    </a>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'add-bank' user.id%}" class=" create"><i class="fas fa-university"></i></a>                            
                </div>

                <div class="p-2 bd-highlight">
                    <a href="{% url 'customer_view_notification' user.id %}">
                        <div class="Notification mt-2">
                            <i class="far fa-bell size"></i>
                            <div class="circle2 text-center">
                                <p class="font-weight-bold text-light notification_count">{{notification|length}}</p>
                            </div>
                        </div>
                    </a>
                </div> 

                <div class="p-2 bd-highlight">                   
                    <p class="referal text-nowrap"><span class="Username">{{marketer.Referal_ID}}</span></p>
                </div>
            </div>
        </div>           
    </div>  

    <div class="row">        
        <div class="col">
            {% if messages %}
            <div class="messages p-3 container align-self-center">
                {% for message in messages %}
                <div {% if message.tags %} class=" alert alert-{{message.tags}} alert-dismissible fade show" role="alert" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>  
    </div>    

    <div class="row center-summation">
        <div class="col">            
            <div class="d-flex flex-row bd-highlight mb-1">
                <div class="p-2 bd-highlight ">
                    <section class="earnings">
                        <h6 class="all">Earnings</h6>
                        <h3 class="money">N{{all_time_earnings}}</h3>
                        <figure class="circle-money">
                            <i class="fas fa-money-bill-alt bill"></i>
                        </figure>
                    </section>
                </div>
                <div class="p-2 bd-highlight reduce1">
                    <section class="balance">
                        <h6 class="account">Balance</h6>
                        <h3 class="money2">N{{wallet_balance}}</h3>
                        <figure class="circle-money2">
                            <i class="fas fa-coins bill2"></i>                            
                        </figure>                        
                    </section>
                </div>               
            </div>
        </div>
        
        <div class="col">
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-start">
                <div class="p-2 bd-highlight">
                    <section class="referred">
                        <h6 class="orders">Referred</h6>
                        <h3 class="count">{{count_total_referals}}</h3>
                        <figure class="circle-box"> 
                            <i class="fas fa-box-open box"></i>                                
                        </figure>
                    </section>
                </div>
                <div class="p-2 bd-highlight reduce2">
                    <section class="History">
                        <h6 class="history">Payout History</h6>
                        <a href="{% url 'payout_history' user.id %}" class="btn btn-sm view text-white" role="button">View</a>
                        <figure class="circle-time text-center"> 
                            <i class="fas fa-history time"></i>                                                            
                        </figure>
                        <button type="button" class="btn pending">
                            Pending <span class="badge badge-light">{{payout_history}}</span>
                            <span class="sr-only">Pending withdrawal</span>
                        </button>
                    </section>
                </div>               
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% for i in customer_paginated_referrals %}
                <section class="orders-list mb-4"
                    hx-get = '{% url "delivery_details" i.pk%}'
                    hx-swap='outterHTML'
                    hx-target = '#delete-account'
                    hx-trigger = 'click'>
                    <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                        <div class="p-2 bd-highlight">
                            <small class="date">{{i.Date_Time|date:"SHORT_DATE_FORMAT"}}</small>
                            <h6 class="cus-name">{{i.Order_ID}}</h6>                        
                        </div>

                        <div class="p-2 bd-highlight">
                            <div class="status-background p-2">
                                <h6 class="status">{{i.Delivery_status}}</h6>  
                            </div>                      
                        </div>  

                        <div class="p-2 bd-highlight">
                            <div class="del-back text-center">
                                <h6 class="del-amount p-2"><img src="{% static '/FDS_app/Naira Sign2.svg'%}" class="mr-1" style="height: 16px; width: 17px;" alt="Naira Sign">{{i.Customer_percentage_profit|default:"0" }}</h6>
                            </div>
                            
                        </div>                    
                    </div>                                
                </section>                
               {% endfor %}
               <div class="pagination mb-3">
                    <span class="step-links">
                    {% if customer_paginated_referrals.has_previous %}
                        <a class="btn btn-light btn-sm" href="?page=1">&laquo; first</a>
                        <a class="btn btn-secondary btn-sm" href="?page={{ customer_paginated_referrals.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ customer_paginated_referrals.number }} of {{ customer_paginated_referrals.paginator.num_pages }}.
                    </span>
            
                    {% if customer_paginated_referrals.has_next %}
                        <a class="btn btn-light btn-sm" href="?page={{ customer_paginated_referrals.next_page_number }}">next</a>
                        <a class="btn btn-secondary btn-sm" href="?page={{ customer_paginated_referrals.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<style>
@media (max-width: 575.98px) { 
    .center-summation{
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
    .request{
    background: #4aeb60;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 700; 
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
  }
  
  .htmx-indicator{
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
  }

  .request:hover{
    background: #22db3b;
  }

  .create{
      color: #020fbd;
      font-family: 'Nunito', sans-serif;
      font-style: normal;      
      font-size: 24px;
  }

  .Username{
      color: #022BBD;
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 700px;
      font-size: 14px;
  }

  .referal{
      color: #0633d8;
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 700px;
      font-size: 12px;
      line-height: 30px;
  }
  .circle{
        padding: 5px 8px;
        border-radius: 50%;               
        width: 30px;
        height: 30px;
        background: #E4EAFF;
        backdrop-filter: blur(10px);
        position: relative;        
    }

    .circle2{
        padding: 5px 8px;
        border-radius: 50%;               
        width: 18px;
        height: 18px;
        background: #003496;
        backdrop-filter: blur(10px);
        position: relative; 
        top: -33px;
        left: 6px; 
        border-style: solid;
        border-width: 1px;
        border-color: azure;        
    }

    .size{
        font-size: 18px;
        color: #003496;
    }
    
    .notification_count{
        position: relative;
        top: -6px;
        right: 3px;
        font-size: 13px;
    }

    .good{
        position: relative;
        font-size: 20px;
        top: 0px;
        right: 3px;
        color: #4967D5;
    }

    .earnings{
        width: 160px;
        height: 120px;
        position: relative; 
        right: 10px;       
        background: #EFE8FF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 21px;
        padding: 10px;
    }    
    .all{
        position: relative;
        top: 20px;
        left: 58px;
        color: #2D2C2C;
        font-family: 'Nunito', sans-serif;
        font-size: 12px;
        font-weight: 600;        
    }
    .money{
        position: relative;
        top: 40px;
        left: 15px;
        color: #8756FB;
        font-family: 'Roboto', sans-serif; 
        font-size: 28px;
        font-weight: 800;
    }
    .circle-money{
        padding: 5px 8px;
        border-radius: 50%;               
        width: 45px;
        height: 45px;
        background: #e2d6ff;
        backdrop-filter: blur(10px);
        position: relative;   
        bottom: 60px;
    }
    .bill{
        color: #8756FB;
        position: relative;
        right: -3px;
        top: 20%;
        font-size: 18px;
    }


    .balance{
        width: 160px;
        height: 120px;       
        background: #DBFFDE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 21px;
        padding: 10px;
        position: relative;
        right: 15px; 
    }
    .account{        
        position: relative;
        top: 20px;
        left: 58px;
        color: #2D2C2C;
        font-family: 'Nunito', sans-serif;
        font-size: 12px;
        font-weight: 600;        
        width: 100px;
    }    
    .money2{
        position: relative;
        top: 40px;
        left: 15px;
        color: #36df4c;
        font-family: 'Roboto', sans-serif; 
        font-size: 28px;
        font-weight: 800;        
        width: 120px;
    }
    .circle-money2{
        padding: 5px 8px;
        border-radius: 50%;               
        width: 45px;
        height: 45px;
        background: #ceffca;
        backdrop-filter: blur(10px);
        position: relative;   
        bottom: 60px;       
    }
    .tempoary{        
        position: relative;
        bottom: 25px;
        margin-left: 130px;  
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
        color: #b4faae;
    }
    .bill2{
        color: #36df4c;
        position: relative;
        right: -3px;
        top: 20%;
        font-size: 18px;
    }
    .reduce1{
        width: 100px;        
    }


    .referred{
        width: 160px;
        height: 120px;        
        background: #FFF3E8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 21px;
        padding: 10px;
        position: relative;
        right: 10px;
    }
    .orders{
        position: relative;
        top: 20px;
        left: 50px;
        color: #2D2C2C;
        font-family: 'Nunito', sans-serif;
        font-size: 12px;
        font-weight: 600;
    }    
    .count{
        position: relative;
        top: 40px;
        left: 55px;
        color: #FCAE67;
        font-family: 'Roboto', sans-serif; 
        font-size: 30px;
        font-weight: 800;          
    }    
    .circle-box{
        padding: 5px 8px;
        border-radius: 50%;               
        width: 45px;
        height: 45px;
        background: #FFE6CE;
        backdrop-filter: blur(10px);
        position: relative;   
        bottom: 60px;      
    }
    .box{
        color: #FCAE67;
        position: relative;
        right: -3px;
        top: 20%;
        font-size: 18px;  
    }

    .History{
        width: 160px;
        height: 120px;       
        background: #E7FFB4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 21px;
        padding: 10px;
        position: relative;
        right: 15px;
    }
    .history{
        position: relative;
        top: 20px;
        left: 65px;
        color: #2D2C2C;
        font-family: 'Nunito', sans-serif;
        font-size: 12px;
        font-weight: 600;        
        width: 90px;
    }    
    .view{
        position: relative;
        top: 25px;
        left: 70px;
        color: white;
        font-family: 'Roboto', sans-serif; 
        font-size: 14px;
        font-weight: 400;
        background: #86BD11;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
        border-radius: 10px;  
    }
    .view:hover{
        position: relative;
        top: 25px;
        left: 70px;
        color: white;
        font-family: 'Roboto', sans-serif; 
        font-size: 14px;
        font-weight: 400;
        background: #659204;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
        border-radius: 10px;        
    }
    .circle-time{
        padding: 5px 8px;
        border-radius: 50%;               
        width: 45px;
        height: 45px;
        background: #D1FB77;
        backdrop-filter: blur(10px);
        position: relative;   
        bottom: 45px;             
    }
    .time{
        color: #69842F;
        position: relative;       
        top: 20%;
        font-size: 18px; 
    }
    .pending{
        position: relative;        
        color: #69842F;        
        box-shadow: 0px 4px 4px rgba(231, 215, 215, 0.08);
        border-radius: 5px;
        height: min-content;  
        font-size: 12px;
        font-weight: bold;
        bottom: 35px;        
    }
    .reduce2{
        width: 100px;        
    }


    .color{
        color: #021f8a;
    }

    .orders-list{
        width: auto;
        height: 60px;
        background-image: linear-gradient(to right, rgb(224, 237, 255), rgb(250, 254, 255));
        box-shadow: 0px 4px 4px rgba(150, 150, 150, 0.25);
        border-radius: 10px;
        padding: 10px;        
    }
    .date{
        position: relative;
        bottom: 15px;
        font-weight: bold;       
        color: rgb(109, 109, 109);
        font-family: 'Nunito', sans-serif;
    }
    .cus-name{
        position: relative;
        bottom: 10px;
        font-weight: bold;
        line-height: 20px;
        color: rgb(44, 132, 247);
        font-family: 'Nunito', sans-serif;
    }

    .status{       
        font-family: 'Nunito', sans-serif;        
        color: rgb(44, 132, 247); 
        position: relative;                              
        top: 5px;
    }

    .status-background{        
        border-radius: 10px;        
    }  

    .del-back{
        background: rgb(228, 240, 255);
        border-radius: 10px;        
    }

    .del-amount{
        font-family: 'Nunito', sans-serif;   
        color: rgb(44, 132, 247);
    }
}


</style>

{% endblock content %}