{% extends "FDS_app/base.html" %}
{% load static%}
{% load crispy_forms_tags %}

{% block title %}Request Payout {{user.username }} {% endblock title %}

{% block content %}
<main>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h4 class="with">Withdrawal History</h4>
                <p>Check pending payment and cashed out payments.</p>
               <section class="orders-list mt-4">
                    <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                        <div class="p-2 bd-highlight">
                            <small class="date">12/04/2021</small>
                            <h6 class="cus-name">Gideon Ugwo</h6>                        
                        </div>

                        <div class="p-2 bd-highlight">
                            <div class="status-background p-2">
                                <a href="{% url 'payout_history_details' user.id %}" class="text-decoration-none"> 
                                    <h6 class="status text-decoration-none">Pending</h6>  
                                </a>
                            </div>                          
                        </div>                    
                    </div>                                
                </section>

                <section class="orders-list2 mt-4">
                    <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                        <div class="p-2 bd-highlight">
                            <small class="date2">12/04/2021</small>
                            <h6 class="cus-name2">Gideon Ugwo</h6>                        
                        </div>

                        <div class="p-2 bd-highlight">
                            <div class="status-background2 text-center p-2">
                                <a href="{% url 'payout_history_details' user.id %}">                                        
                                    <h5 class="status2"><i class="far fa-check-circle"></i></h5>  
                                </a>
                            </div>                          
                        </div>                    
                    </div>                                
                </section>

                <section class="orders-list3 mt-4">
                    <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                        <div class="p-2 bd-highlight">
                            <small class="date3">12/04/2021</small>
                            <h6 class="cus-name3">Gideon Ugwo</h6>                        
                        </div>

                        <div class="p-2 bd-highlight">
                            <div class="status-background3 text-center p-2">
                                <a href="{% url 'payout_history_details' user.id %}">
                                    <h5 class="status3"><i class="far fa-times-circle"></i></h5>  
                                </a>
                            </div>                          
                        </div>                    
                    </div>                                
                </section>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</main>
<style>  
.orders-list{
        width: auto;
        height: 70px;
        background: rgba(255, 253, 232, 1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 10px;        
    }

    .date{
        font-weight: bold;       
        color: rgba(180, 162, 0, 1);
        font-family: 'Nunito', sans-serif;
    }

    .cus-name{
        font-weight: bold;
        line-height: 20px;
        color: rgba(180, 162, 0, 1);
        font-family: 'Nunito', sans-serif;
    }

    .status{       
        font-family: 'Nunito', sans-serif;        
        color: white; 
        position: relative;                              
        top: 4px;
        font-weight: 500;
    }

    .status-background{
        background: rgba(217, 195, 0, 1);
        border-radius: 5px; 
        height: 40px;      
    }  

    .del-back{
        background: rgb(228, 240, 255);
        border-radius: 10px;        
    }

    .del-amount{
        font-family: 'Nunito', sans-serif;   
        color: rgb(44, 132, 247);
    }

    .with{
        color: rgb(116, 104, 0);
        font-family: 'Nunito', sans-serif; 
        font-weight: 1000;
    }



    .orders-list2{
        width: auto;
        height: 70px;
        background: rgba(232, 255, 232, 1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 10px;        
    }

    .date2{
        font-weight: bold;       
        color: rgba(0, 180, 7, 1);
        font-family: 'Nunito', sans-serif;
    }

    .cus-name2{
        font-weight: bold;
        line-height: 20px;
        color: rgba(0, 180, 7, 1);
        font-family: 'Nunito', sans-serif;
    }

    .status2{       
        font-family: 'Nunito', sans-serif;        
        color: white;        
    }

    .status-background2{
        background: rgba(0, 217, 9, 1);   
        width: 70px;
        border-radius: 5px;
        height: 40px;
    }  

  



    .orders-list3{
        width: auto;
        height: 70px;
        background: rgba(255, 232, 232, 1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 10px;        
    }

    .date3{
        font-weight: bold;       
        color: rgba(180, 0, 0, 1);
        font-family: 'Nunito', sans-serif;
    }

    .cus-name3{
        font-weight: bold;
        line-height: 20px;
        color: rgba(180, 0, 0, 1);
        font-family: 'Nunito', sans-serif;
    }

    .status3{       
        font-family: 'Nunito', sans-serif;        
        color: white;        
    }

    .status-background3{
        background: rgba(217, 0, 0, 1);   
        width: 70px;
        border-radius: 5px;
        height: 40px;
    }  

</style>

{% endblock content %}