{% extends "FDS_app/signupBase.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load user_tags %}

{% block title %} LOGISTICS {{user.username }} {% endblock title %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4"> </div>
        <div class="col-md-4"> 
            <div class="card text-center"> 
                <div class="card-body bg-primary rounded">
                    <h4 class="text-white"><i class="fas fa-tools"></i><br>  Still Under Construction</h4>
                </div>            
            </div>
        </div>
        <div class="col-md-4"> </div>
    </div>
</div>

{% endblock content %}

{% block whatsapp%}

{% endblock whatsapp %}