{% extends "users/profile.html" %}
{% load crispy_forms_tags %}

{% block title %} Admin Dashboard - FDLS {% endblock title %}

{% block contentadmin %}
 
 <!--FOR CASH PAYMENTS-->
 <div class="row">
    <div class="col-md-12 col-sm- 12, col-xl-12">
        <h4 class="p-3 shadow-sm text-center text-dark"> CASH-PAYMENT REQUEST</h4>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Date</th>
                    <th scope="col">Details</th>
                    <th scope="col">TP Choice</th>
                    <th scope="col">Status</th>
                    <th scope="col">Amt Payable</th>
                    <th scope="col">Amt Paid</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Assigned</th>
                    <th scope="col">Confirmed</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for i in page_obj2 %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{i.customer}}</td>
                        <td>{{i.date_created|timesince}}</td>
                        <td>
                            <div class="dropdown">
                                <p class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    r
                                </p>
                            <div class="dropdown-menu p-2 user-select-all" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                                <small class=" text-white"> <strong> Order ID:</strong> {{i.order_id}}  </small>
                                <br>
                                <small class=" text-white"> <strong> Customer Phone:</strong> {{i.customer.phone_number}}  </small>
                                <br>
                                <small class=" text-white"> <strong> Customer Name:</strong> {{i.customer.first_name}} {{i.customer.last_name}}  </small>
                                <br>
                                <small class=" text-white"><strong>Sender Location:</strong> {{i.Your_location}} </small>
                                <hr>
                                <p class="text-white">Ist Destination</p>
                                <small class=" text-white"> <strong> Reciever Name:</strong> {{i.reciever_name}}  </small>
                                <br>
                                <small class=" text-white"><strong>Reciever Number:</strong> {{i.reciever_phone_number}} </small>
                                <br>
                                <small class=" text-white"><strong>Address of Reciever:</strong> {{i.Address_of_reciever}} </small>
                                <br>
                                <small class=" text-white"><strong>Package Description:</strong> {{i.Package_description}} </small>
                                <br>
                                <small class=" text-white"><strong>Loading:</strong> {{i.Loading_choice}} </small>

                            {% if i.reciever_name2 and i.reciever_phone_number2 and i.Address_of_reciever2 != None %}
                                <p class="text-warning font-weight-bold"> 2nd Destination</p>
                                <small class=" text-white"> <strong> Reciever Name2:</strong> {{i.reciever_name2}}  </small>
                                <br>
                                <small class=" text-white"><strong>Reciever Number2:</strong> {{i.reciever_phone_number2}} </small>
                                <br>
                                <small class=" text-white"><strong>Address of Reciever2:</strong> {{i.Address_of_reciever2}} </small>
                                <br>
                                <small class=" text-white"><strong>Package Description2:</strong> {{i.Package_description2}} </small>
                            {% endif %}

                            {% if i.reciever_name3 and i.reciever_phone_number3 and i.Address_of_reciever3 != None %}
                                <p class="text-warning font-weight-bold"> 3rd Destination</p>
                                <small class=" text-white"> <strong> Reciever Name3:</strong> {{i.reciever_name3}}  </small>
                                <br>
                                <small class=" text-white"><strong>Reciever Number3:</strong> {{i.reciever_phone_number3}} </small>
                                <br>
                                <small class=" text-white"><strong>Address of Reciever3:</strong> {{i.Address_of_reciever3}} </small>
                                <br>
                                <small class=" text-white"><strong>Package Description3:</strong> {{i.Package_description3}} </small>
                            {% endif %}

                            {% if i.reciever_name4 and i.reciever_phone_number4 and i.Address_of_reciever4 != None %}
                                <p class="text-warning font-weight-bold"> 4th Destination</p>
                                <small class=" text-white"> <strong> Reciever Name4:</strong> {{i.reciever_name4}}  </small>
                                <br>
                                <small class=" text-white"><strong>Reciever Number4:</strong> {{i.reciever_phone_number4}} </small>
                                <br>
                                <small class=" text-white"><strong>Address of Reciever4:</strong> {{i.Address_of_reciever4}} </small>
                                <br>
                                <small class=" text-white"><strong>Package Description4:</strong> {{i.Package_description4}} </small>
                                <br>
                            {% endif %}

                            {% if i.reciever_name5 and i.reciever_phone_number5 and i.Address_of_reciever5 != None %}
                                <p class="text-warning font-weight-bold"> 5th Destination</p>
                                <small class=" text-white"> <strong> Reciever Name5:</strong> {{i.reciever_name5}}  </small>
                                <br>
                                <small class=" text-white"><strong>Reciever Number5:</strong> {{i.reciever_phone_number5}} </small>
                                <br>
                                <small class=" text-white"><strong>Address of Reciever5:</strong> {{i.Address_of_reciever5}} </small>
                                <br>
                                <small class=" text-white"><strong>Package Description5:</strong> {{i.Package_description5}} </small>
                            {% endif %}
                            </div>
                            
                        </td>
                        <td>{{i.Choice_for_TP}}</td>
                        <td>
                            {% if i.status == 'Delivered' %}
                            <i class="fas fa-check-circle text-success"></i>
                            {% else %}
                                {{i.status}}
                            {% endif %}                            
                        </td> 
                        <td>{{i.Amount_Payable}}</td> 
                        <td>{{i.Amount_Paid}}</td> 
                        <td>{{i.order_id}}</td> 
                        <td class="text-center">
                            {% if i.assigned == True%}
                                    <i class="fas fa-check-circle text-white">
                            {% else %}
                                    <i class="fas fa-check-circle text-danger"></i>
                            {% endif %}
                        </td>
                        <td >
                            <div class="text-center"> 
                                {% if i.confirmed == True %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-check-circle text-danger"></i>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'updateRequestCash' i.id %}" role="button" class="btn btn-primary btn-sm  rounded-pill">
                                Update
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'cancelRequestCash' i.id %}" role="button" class="btn btn-danger btn-sm  rounded-pill">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            <div class="pagination mb-3">
                <span class="step-links">
                    {% if page_obj2.has_previous %}
                        <a class="btn rounded-pill btn-warning" href="?page=1">&laquo; first</a>
                        <a class="btn rounded-pill btn-danger" href="?page={{ page_obj2.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj2.number }} of {{ page_obj2.paginator2.num_pages }}
                    </span>
            
                    {% if page_obj2.has_next %}
                        <a class="btn btn-warning" href="?page={{ page_obj2.next_page_number }}">next</a>
                {% endif %}
        </table>
    </div>
</div>
 {% endblock contentadmin %}