{%  extends "FDS_app/dashBase.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} {{user.username }}: Dashboard FLLS {% endblock title %}


{% block content2 %}
<div class="container-fluid">
  <div class="row pt-2 float">
    <div class="col-md-6"></div>
    <div class="col-md-6"> 
        {% if messages %}
        <div class="messages text-center">
          {% for message in messages %}
          <div {% if message.tags %} class=" alert alert-{{message.tags}} alert-dismissible fade show" role="alert" {% endif %}>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> 
          </div>         
          {% endfor %}          
        </div>
        {% endif %}
    </div>

  </div>

  <div class="row">
      <div class="col-md-4 pt-4"></div>
      <div class="col-md-4 pt-5">
        <a class="btn btn-primary rounded-pill" href="{% url 'join_affiliate' user.id %}"  role="button"> Join affiliate</a>
        <!--Strt-->
        <div class="d-flex flex-row bd-highlight mb-3 justify-content-center text-white text-center">            
            <div id="errand" class="mr-2 zoom eps">
                <div class="p-2 bd-highlight">                        
                  <h1><i class="fas fa-boxes"></i></h1>
                  {% if customer.Location == 'Calabar'%}
                  <h6><a class="text-decoration-none text-white font-weight-bold" href="{% url 'errandmenu' user.id %}" role="button">Errand Service</a></h6>
                  {% elif customer.Location == 'Port Harcourt' %}
                  <h6><a class="text-decoration-none text-white font-weight-bold" href="{% url 'errand_menu_ph' user.id %}" role="button">Errand Service</a></h6>
                  {% endif %}
                </div>
            </div>
            
            <div id="request" class="zoom" data-toggle="modal" data-target="#Gaserrand">
                <div class="p-2 bd-highlight">       
                    <h1><i class="fas fa-shipping-fast"></i></h1>                    
                    {% if customer.Location == 'Calabar'%}            
                    <h6><a class="text-decoration-none text-white font-weight-bold text-truncate" href="{% url 'requestForm_Cash' user.id %}" >Request Dispatch</a></h6>
                    {% elif customer.Location == 'Port Harcourt' %}
                    <h6><a class="text-decoration-none text-white font-weight-bold text-truncate" href="{% url 'cash_request_ph' user.id %}" > Request Dispatch </a></h6>
                    {% endif %}
                </div>
            </div>              
        </div>
        
        <div class="d-flex flex-row bd-highlight mb-3 justify-content-center text-white text-center">
          {% if customer.Location == 'Calabar' %}
          <div id="Erequest" class="mr-2 zoom">
            <div class="p-2 bd-highlight">
              <h1><i class="fas fa-truck"></i></h1>
              <h6><a class="text-decoration-none text-white font-weight-bold" href="{% url 'requestForm_Online' user.id %}">Request Dispatch (E-payment)</a></h6>
            </div>
          </div>
          {% endif %}

          {% if customer.Location == 'Calabar' %}
          <div id="shopping" class="zoom" data-toggle="modal" data-target="#Gaserrand">
            <div class="p-2 bd-highlight">
              <h1><i class="fas fa-dolly"></i></h1>
              <h6><a class="text-decoration-none text-white font-weight-bold text-truncate" href="{% url 'shopping' user.id %}">Shopping Request</h6>
              </a>              
            </div>
          </div>
          {% elif customer.Location == 'Port Harcourt' %}          
          <div id="shopping2" class="zoom" data-toggle="modal" data-target="#Gaserrand">
            <div class="p-2 bd-highlight">
              <h1><i class="fas fa-dolly"></i></h1>
              <h6><a class="text-decoration-none text-white font-weight-bold text-truncate" href="{% url 'shopping' user.id %}">Shopping Request</h6>
              </a>              
            </div>
          </div>
          {% endif %}
        </div>
        <!--new-->
        <div class="d-flex p-3 flex-column text-center bg-light rounded-lg justify-content-center bd-highlight mb-3">  
          <div class="p-2 bd-highlight"> 
            {% for i in request_filter_cash %}
              {% if i.status == 'Pending' %}
              <div class="dropdown">
                <span class="dropdown-toggle btn" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span >View {{i.order_id}}</span>
                </span>
                <div class="dropdown-menu p-2" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                  <small class=" text-white"> <strong> Order ID</strong> {{i.order_id}}  </small>
                  <div class="dropdown-divider"></div>
                  <small class=" text-white"> <strong> Reciever Name:</strong> {{i.reciever_name}}  </small>
                  <div class="dropdown-divider"></div>
                  <small class=" text-white"><strong>Reciever Number:</strong> {{i.reciever_phone_number}} </small>
                  <div class="dropdown-divider"></div>
                  <small class=" text-white"><strong>Address of Reciever:</strong> {{i.Address_of_reciever}} </small>
                  <div class="dropdown-divider"></div>
                  <small class=" text-white"><strong>Package Description:</strong> {{i.Package_description}} </small>
                  <div class="dropdown-divider"></div>
                  <small class=" text-white"><strong>Your Location:</strong> {{i.Your_location}} </small>

                {% if i.reciever_name2 and i.reciever_phone_number2 and i.Address_of_reciever2 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 2nd Destination
                    <small class="text-white"><strong> {{i.Address_of_reciever2}} </strong> </small>
                  </p>
                </div>
                {% endif %}
               
                {% if i.reciever_name3 and i.reciever_phone_number3 and i.Address_of_reciever3 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 3rd Destination
                    <small class=" text-white"><strong> {{i.Address_of_reciever3}} </strong> </small>
                  </p>
                </div>
                {% endif %}

                {% if i.reciever_name4 and i.reciever_phone_number4 and i.Address_of_reciever4 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 4th Destination
                    <small class=" text-white"><strong> {{i.Address_of_reciever4}} </strong> </small>
                  </p> 
                </div>
                {% endif %}

                {% if i.reciever_name5 and i.reciever_phone_number5 and i.Address_of_reciever5 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 5th Destination
                    <small class=" text-white"><strong> {{i.Address_of_reciever5}} </strong> </small>
                  </p> 
                </div>
                {% endif %}
              </div>
              <br>
            <div class="progress">
              <div class="progress-bar" id="flow2" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Pending </div>
            </div>
          
            {% elif i.status == 'Out for delivery' %}
            <div class="dropdown">
              <span class="dropdown-toggle btn" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span >View {{i.order_id}}</span>
              </span>
              <div class="dropdown-menu p-2" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                <small class=" text-white"> <strong>Order ID:</strong> {{i.order_id}}  </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"> <strong> Reciever Name:</strong> {{i.reciever_name}}  </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Reciever Number:</strong> {{i.reciever_phone_number}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Address of Reciever:</strong> {{i.Address_of_reciever}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Package Description:</strong> {{i.Package_description}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Your Location:</strong> {{i.Your_location}} </small>

                {% if i.reciever_name2 and i.reciever_phone_number2 and i.Address_of_reciever2 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 2nd Destination
                    <small class="text-white"><strong> {{i.Address_of_reciever2}} </strong> </small>
                  </p>
                </div>
                {% endif %}
              
                {% if i.reciever_name3 and i.reciever_phone_number3 and i.Address_of_reciever3 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 3rd Destination
                    <small class=" text-white"><strong> {{i.Address_of_reciever3}} </strong> </small>
                  </p>
                </div>
                {% endif %}

                {% if i.reciever_name4 and i.reciever_phone_number4 and i.Address_of_reciever4 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 4th Destination
                    <small class=" text-white"><strong> {{i.Address_of_reciever4}} </strong> </small>
                  </p> 
                </div>
                {% endif %}

                {% if i.reciever_name5 and i.reciever_phone_number5 and i.Address_of_reciever5 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 5th Destination
                    <small class=" text-white"><strong> {{i.Address_of_reciever5}} </strong> </small>
                  </p> 
                </div>
                {% endif %}
              </div>
            </div>
              <br>
              <div class="progress">
                <div class="progress-bar" id="flow2" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Out for delivery</div>
                <br>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          </div>
          <!--end-->
          {% for i in request_filter %}
              {% if i.status == 'Pending' %}
              <div class="dropdown">
                <span class="dropdown-toggle btn" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span >View {{i.order_id}}</span>
                </span>
                <div class="dropdown-menu p-2" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                  <small class=" text-white"> <strong> Order ID</strong> {{i.order_id}}</small>
                  <div class="dropdown-divider"></div>
                  <small class=" text-white"> <strong> Reciever Name:</strong> {{i.reciever_name}}  </small>
                  <div class="dropdown-divider"></div>
                  <small class=" text-white"><strong>Reciever Number:</strong> {{i.reciever_phone_number}} </small>
                  <div class="dropdown-divider"></div>
                  <small class=" text-white"><strong>Address of Reciever:</strong> {{i.Address_of_reciever}} </small>
                  <div class="dropdown-divider"></div>
                  <small class=" text-white"><strong>Package Description:</strong> {{i.Package_description}} </small>
                  <div class="dropdown-divider"></div>
                  <small class=" text-white"><strong>Your Location:</strong> {{i.Your_location}} </small>

                  {% if i.reciever_name2 and i.reciever_phone_number2 and i.Address_of_reciever2 != None %}
                  <div>
                    <p class="text-warning font-weight-bold"> 2nd Destination
                      <small class="text-white"><strong> {{i.Address_of_reciever2}} </strong> </small>
                    </p>
                  </div>
                  {% endif %}
                  
                  {% if i.reciever_name3 and i.reciever_phone_number3 and i.Address_of_reciever3 != None %}
                  <div>
                    <p class="text-warning font-weight-bold"> 3rd Destination
                      <small class=" text-white"><strong> {{i.Address_of_reciever3}} </strong> </small>
                    </p>
                  </div>
                  {% endif %}

                  {% if i.reciever_name4 and i.reciever_phone_number4 and i.Address_of_reciever4 != None %}
                  <div>
                    <p class="text-warning font-weight-bold"> 4th Destination
                      <small class=" text-white"><strong> {{i.Address_of_reciever4}} </strong> </small>
                    </p> 
                  </div>
                  {% endif %}

                  {% if i.reciever_name5 and i.reciever_phone_number5 and i.Address_of_reciever5 != None %}
                  <div>
                    <p class="text-warning font-weight-bold"> 5th Destination
                      <small class=" text-white"><strong> {{i.Address_of_reciever5}} </strong> </small>
                    </p> 
                  </div>
                  {% endif %}
                </div>
              </div>
              <br>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                Pending
              </div>
            </div>
          
            {% elif i.status == 'Out for delivery' %}
            <div class="dropdown">
              <span class="dropdown-toggle btn" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span >View {{i.order_id}}</span>
              </span>
              <div class="dropdown-menu p-2" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                <small class=" text-white"> <strong> Order ID:</strong> {{i.order_id}}  </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"> <strong> Reciever Name:</strong> {{i.reciever_name}}  </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Reciever Number:</strong> {{i.reciever_phone_number}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Address of Reciever:</strong> {{i.Address_of_reciever}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Package Description:</strong> {{i.Package_description}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Your Location:</strong> {{i.Your_location}} </small>

                {% if i.reciever_name2 and i.reciever_phone_number2 and i.Address_of_reciever2 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 2nd Destination
                    <small class="text-white"><strong> {{i.Address_of_reciever2}} </strong> </small>
                  </p>
                </div>
                {% endif %}
              
                {% if i.reciever_name3 and i.reciever_phone_number3 and i.Address_of_reciever3 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 3rd Destination
                    <small class=" text-white"><strong> {{i.Address_of_reciever3}} </strong> </small>
                  </p>
                </div>
                {% endif %}

                {% if i.reciever_name4 and i.reciever_phone_number4 and i.Address_of_reciever4 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 4th Destination
                    <small class=" text-white"><strong> {{i.Address_of_reciever4}} </strong> </small>
                  </p> 
                </div>
                {% endif %}

                {% if i.reciever_name5 and i.reciever_phone_number5 and i.Address_of_reciever5 != None %}
                <div>
                  <p class="text-warning font-weight-bold"> 5th Destination
                    <small class=" text-white"><strong> {{i.Address_of_reciever5}} </strong> </small>
                  </p> 
                </div>
                {% endif %}
              </div>
              <br>
              <div class="progress">
                <div class="progress-bar bg-danger " role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Out for delivery</div>
                <br>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          </div>

          {% for i in request_filter_shopping %}
            {% if i.status == 'Pending' %}
            <div class="dropdown">
              <span class="dropdown-toggle btn" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span >View {{i.order_id}}</span>
              </span>
              <div class="dropdown-menu p-2" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                <small class=" text-white"> <strong> Order ID</strong> {{i.order_id}}  </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"> {{i.List_Items}} </small>
                <!--end option-->
              </div>
              <br>
              <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  Pending
                </div>
              </div>
              {% elif i.status == 'At the Mall' %}
              <div class="dropdown">
                <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span >View {{i.order_id}}</span>
                </span>
                <div class="dropdown-menu p-2" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                  <small class=" text-white"> {{i.List_Items}} </small>                  
                <br>
                </div>       
              </div>
              <div class="progress">
                <div class="progress-bar bg-primary " role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Ath the Mall</div>
                <br>
                </div>
            </div>  
            {% endif %}
            {% endfor %} 

          <!--Errand-->
          {% for i in request_filter_errand %}
              {% if i.status == 'Pending' %}
              <div class="dropdown">
                <span class="dropdown-toggle btn" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span >View {{i.order_id}}</span>
                </span>
                <div class="dropdown-menu p-2" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                  <small class=" text-white"> <strong> Order ID</strong> {{i.order_id}}  </small>
                  <div class="dropdown-divider"></div>
                  {% if i.category == 'Fuel' %}
                    <small class=" text-white"> <strong> Fuel Amount:</strong> {{i.fuel_per_amount}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                    <br>
                    <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                  {% endif %}

                  {% if i.category == 'Bread' %}
                    <small class=" text-white"> <strong> Bread Brand:</strong> {{i.Bread_brand_name}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                    <br>
                    <small class=" text-white"> <strong> Quantity:</strong> {{i.Quantity}} </small>
                    {% if description %}
                        <small class=" text-white"> <strong> Description:</strong> {{i.description}}</small>
                    {% else %}
                    <small class=" text-white"> <strong>Amt Entered:</strong> {{i.Enter_amount}}</small>
                    <br>
                    <small class=" text-white"> <strong>Amt Entered:</strong> {{i.your_location}}</small>
                    {% endif %}
                  {% endif %}

                  {% if i.category == 'Drugs' %}
                    <small class=" text-white"> <strong> Drug Store:</strong> {{i.Drug_store}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                    <br>
                    <small class=" text-white"> <strong> Drug Name:</strong> {{i.Drug_name}} </small>
                    <br>
                    <small class=" text-white"> <strong> Prescription:</strong> {{i.medical_description}} </small>
                    <br>
                    <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                    <br>
                    <small class=" text-white"> <strong> Cus Location:</strong> {{i.your_location}} </small>
                  {% endif %}

                  {% if i.category == 'Gas' %}
                    <small class=" text-white"> <strong> Gas Quantity:</strong> {{i.Gas_Quantity}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                    <br>
                    <small class=" text-white"> <strong> Cus Location:</strong> {{i.your_location}} </small>
                  {% endif %}

                  {% if i.category == 'Shawarma' %}
                    <small class=" text-white"><strong>Shawarma Store:</strong> {{i.Shawarma_store}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                    <br>
                    <small class=" text-white"><strong>Shawarma description:</strong> {{i.Shawarma_desc}} </small>
                    <br>
                    <small class=" text-white"><strong>Further description:</strong> {{i.description}} </small>
                    <br>
                    <small class=" text-white"><strong>Quantity:</strong> {{i.Quantity}} </small>
                    <br>
                    <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                    <br>
                    <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                  {% endif %}
                    
                  {% if i.category == 'Pizza'%}
                    <small class=" text-white"> <strong> Pizza Store:</strong> {{i.pizza_store}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pizza Desc:</strong> {{i.Pizza_desc}} </small>
                    <br>
                    <small class=" text-white"> <strong> Further Description:</strong> {{i.description}} </small>
                    <br>
                    <small class=" text-white"><strong>Quantity:</strong> {{i.Quantity}} </small>
                    <br>
                    <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                    <br>
                    <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                  {% endif %}

                  {% if i.category  == 'Ice Cream' %}
                    <small class=" text-white"> <strong> Store Name:</strong> {{i.ice_Cream_store}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                    <br>
                    <small class=" text-white"> <strong> Description:</strong> {{i.ice_Cream_desc}} </small>
                    <br>
                    <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                    <br>
                    <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                  {% endif %}

                  {% if i.category == 'Fruits' %}
                    <small class=" text-white"> <strong> Purchase From:</strong> {{i.fruits_purchase_store}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                    <br>
                    <small class=" text-white"> <strong> Fruits Description:</strong> {{i.fruits_description}} </small>
                    <br>
                    <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                    <br>
                    <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                  {% endif %}

                  {% if i.category == 'Food' %}
                    <small class=" text-white"> <strong> Food Vendor:</strong> {{i.Food_vendor}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                    <br>
                    <small class=" text-white"> <strong> Food Description:</strong> {{i.Food_description}}</small>
                    <br>
                    <small class=" text-white"> <strong> Further Description:</strong> {{i.description}} </small>
                    <br>
                    <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                    <br>
                    <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                  {% endif %}

                  {% if i.category == 'Others' %}
                    <small class=" text-white"> <strong> Description:</strong> {{i.description}} </small>
                    <br>
                    <small class=" text-white"> <strong> Quantity:</strong> {{i.Quantity}} </small>
                    <br>
                    <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                    <br>
                    <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount} } </small>
                    <br>
                    <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                  {% endif %}
                  <!--end option-->
                </div>
              </div>
              <br>
              <div class="progress">
                <div class="progress-bar" id="flow" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  Pending
                </div>
              </div>
          
            {% elif i.status == 'Purchase in Process' %}
            <div class="dropdown">
              <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span >View {{i.order_id}}</span>
              </span>
              <div class="dropdown-menu p-2" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                <small class=" text-white"> <strong> Order ID</strong> {{i.order_id}}  </small>
                <div class="dropdown-divider"></div>
                {% if i.category == 'Fuel' %}
                  <small class=" text-white"> <strong> Fuel Amount:</strong> {{i.fuel_per_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Bread' %}
                  <small class=" text-white"> <strong> Bread Brand:</strong> {{i.Bread_brand_name}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Quantity:</strong> {{i.Quantity}} </small>
                  {% if description %}
                      <small class=" text-white"> <strong> Description:</strong> {{i.description}}</small>
                  {% else %}
                  <small class=" text-white"> <strong>Amt Entered:</strong> {{i.Enter_amount}}</small>
                  <br>
                  <small class=" text-white"> <strong>Amt Entered:</strong> {{i.your_location}}</small>
                  {% endif %}
                {% endif %}

                {% if i.category == 'Drugs' %}
                  <small class=" text-white"> <strong> Drug Store:</strong> {{i.Drug_store}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Drug Name:</strong> {{i.Drug_name}} </small>
                  <br>
                  <small class=" text-white"> <strong> Prescription:</strong> {{i.medical_description}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Cus Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Gas' %}
                  <small class=" text-white"> <strong> Gas Quantity:</strong> {{i.Gas_Quantity}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Cus Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Shawarma' %}
                  <small class=" text-white"><strong>Shawarma Store:</strong> {{i.Shawarma_store}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"><strong>Shawarma description:</strong> {{i.Shawarma_desc}} </small>
                  <br>
                  <small class=" text-white"><strong>Further description:</strong> {{i.description}} </small>
                  <br>
                  <small class=" text-white"><strong>Quantity:</strong> {{i.Quantity}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}
                  
                {% if i.category == 'Pizza'%}
                  <small class=" text-white"> <strong> Pizza Store:</strong> {{i.pizza_store}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pizza Desc:</strong> {{i.Pizza_desc}} </small>
                  <br>
                  <small class=" text-white"> <strong> Further Description:</strong> {{i.description}} </small>
                  <br>
                  <small class=" text-white"><strong>Quantity:</strong> {{i.Quantity}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category  == 'Ice Cream' %}
                  <small class=" text-white"> <strong> Store Name:</strong> {{i.ice_Cream_store}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Description:</strong> {{i.ice_Cream_desc}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Fruits' %}
                  <small class=" text-white"> <strong> Purchase From:</strong> {{i.fruits_purchase_store}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Fruits Description:</strong> {{i.fruits_description}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Food' %}
                  <small class=" text-white"> <strong> Food Vendor:</strong> {{i.Food_vendor}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Food Description:</strong> {{i.Food_description}}</small>
                  <br>
                  <small class=" text-white"> <strong> Further Description:</strong> {{i.description}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Others' %}
                  <small class=" text-white"> <strong> Description:</strong> {{i.description}} </small>
                  <br>
                  <small class=" text-white"> <strong> Quantity:</strong> {{i.Quantity}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount} } </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}
                <!--end option-->
                <br>
              </div>           
            </div>
            <div class="progress">
              <div class="progress-bar" id="flow" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Purchase in process</div>
              <br>
            </div>
            {% elif i.status == 'On Route for Delivery' %}
            <div class="dropdown">
              <span class="dropdown-toggle btn" role="button"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span >View {{i.order_id}}</span>
              </span>
              <div class="dropdown-menu p-2" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                <small class=" text-white"> <strong>Order ID</strong> {{i.order_id}}  </small>
                <div class="dropdown-divider"></div>
                {% if i.category == 'Fuel' %}
                  <small class=" text-white"> <strong> Fuel Amount:</strong> {{i.fuel_per_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Bread' %}
                  <small class=" text-white"> <strong> Bread Brand:</strong> {{i.Bread_brand_name}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Quantity:</strong> {{i.Quantity}} </small>
                  {% if description %}
                      <small class=" text-white"> <strong> Description:</strong> {{i.description}}</small>
                  {% else %}
                  <small class=" text-white"> <strong>Amt Entered:</strong> {{i.Enter_amount}}</small>
                  <br>
                  <small class=" text-white"> <strong>Amt Entered:</strong> {{i.your_location}}</small>
                  {% endif %}
                {% endif %}

                {% if i.category == 'Drugs' %}
                  <small class=" text-white"> <strong> Drug Store:</strong> {{i.Drug_store}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Drug Name:</strong> {{i.Drug_name}} </small>
                  <br>
                  <small class=" text-white"> <strong> Prescription:</strong> {{i.medical_description}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Cus Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Gas' %}
                  <small class=" text-white"> <strong> Gas Quantity:</strong> {{i.Gas_Quantity}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Cus Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Shawarma' %}
                  <small class=" text-white"><strong>Shawarma Store:</strong> {{i.Shawarma_store}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"><strong>Shawarma description:</strong> {{i.Shawarma_desc}} </small>
                  <br>
                  <small class=" text-white"><strong>Further description:</strong> {{i.description}} </small>
                  <br>
                  <small class=" text-white"><strong>Quantity:</strong> {{i.Quantity}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}
                  
                {% if i.category == 'Pizza'%}
                  <small class=" text-white"> <strong> Pizza Store:</strong> {{i.pizza_store}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pizza Desc:</strong> {{i.Pizza_desc}} </small>
                  <br>
                  <small class=" text-white"> <strong> Further Description:</strong> {{i.description}} </small>
                  <br>
                  <small class=" text-white"><strong>Quantity:</strong> {{i.Quantity}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category  == 'Ice Cream' %}
                  <small class=" text-white"> <strong> Store Name:</strong> {{i.ice_Cream_store}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Description:</strong> {{i.ice_Cream_desc}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Fruits' %}
                  <small class=" text-white"> <strong> Purchase From:</strong> {{i.fruits_purchase_store}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Fruits Description:</strong> {{i.fruits_description}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Food' %}
                  <small class=" text-white"> <strong> Food Vendor:</strong> {{i.Food_vendor}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Food Description:</strong> {{i.Food_description}}</small>
                  <br>
                  <small class=" text-white"> <strong> Further Description:</strong> {{i.description}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount}} </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}

                {% if i.category == 'Others' %}
                  <small class=" text-white"> <strong> Description:</strong> {{i.description}} </small>
                  <br>
                  <small class=" text-white"> <strong> Quantity:</strong> {{i.Quantity}} </small>
                  <br>
                  <small class=" text-white"> <strong> Pay Channel:</strong> {{i.payment_channel}} </small>
                  <br>
                  <small class=" text-white"> <strong> Amt Entered:</strong> {{i.Enter_amount} } </small>
                  <br>
                  <small class=" text-white"> <strong> Customer Location:</strong> {{i.your_location}} </small>
                {% endif %}
                <!--end option-->
              <br>              
              </div>
              <div class="progress">
                <div class="progress-bar" id="flow" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">On Route</div>
                <br>
              </div>
            </div>
            {% endif %}
          {% endfor %}                                   
        </div>
      </div>
      <div class="col-md-4 pt-4"></div>
  </div>
</div>

<style>
  #errand {
      height: 120px; 
      background-color: rgb(233, 161, 94);
      width: 160px;
      border-radius: 12px;   
  }

  #flow{
    background-color: rgb(233, 161, 94);
  }

  #flow2 {
    background-color: rgb(128, 52, 67);
  }

  #request {
      height: 120px;
      width: 160px;
      background-color: rgb(128, 52, 67);
      border-radius: 12px;   
  }

  #Erequest {
      height: 120px;
      width: 160px;
      background-color: crimson;
      border-radius: 12px;   
  }

  #shopping {
      height: 120px;
      width: 160px;
      background-color: rgb(83, 168, 202);
      border-radius: 12px;   
  }

  #shopping2 {
      height: 120px;
      width: 330px;
      background-color: rgb(83, 168, 202);
      border-radius: 12px;       
  }
    
  .zoom:hover {      
      border: 2px solid rgb(255, 136, 165);
  }
  .eps:hover {      

      border-radius: 2px solid rgb(255, 191, 207);
  }

  .float{
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 10;
    float: right;
    width: fit-content;    
  }  
</style>

<script> 
function Location() {
  window.alert("Confirm your location is the same city you are currently present in")
}
</script>
{% endblock content2 %}
