{%  extends "FDS_app/dashBase.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} {{user.username }}:Dashboard - FDLS {% endblock title %}


{% block content2 %}
<div class="container-fluid">
  <div class="row pt-2">
    <div class="col">
        {% if messages %}
        <div class="messages text-center">
          {% for message in messages %}
          <div {% if message.tags %} class=" alert alert-{{message.tags}} alert-dismissible fade show" role="alert" {% endif %}>{{ message }}</div>
          {% endfor %}
          </div> 
        </div>
        {% endif %}
    </div>
  </div>
  <div class="row">
      <div class="col-md-3 pt-4">
        
        <div class="d-flex p-3 flex-column bg-light rounded-lg justify-content-center bd-highlight mb-3">
            
            <div class="p-2  bd-highlight">
              <p class="font-italic text-center"> Hello {{user.first_name}} please choose an option that suits you.</p>
            </div>

            <div class="p-2  bd-highlight">
              <a class="btn btn-outline-info btn-block rounded-pill justify-content-right" href="{% url 'errandmenu' user.id %}" role="button">Errand Service</a>
            </div>
            <div class="p-2 bd-highlight">
              <a class="btn btn-outline-info btn-block rounded-pill justify-content-right" href="{% url 'requestForm_Cash' user.id %}" role="button">Request Dispatch</a>
            </div>
            <div class="p-2 bd-highlight">
              <a class="btn btn-outline-info btn-block rounded-pill justify-content-right" href="{% url 'requestForm_Online' user.id %}" role="button">Request Dispatch(pay with card)</a>
            </div>
            <div class="p-2 bd-highlight">
              <a class="btn btn-outline-info btn-block rounded-pill justify-content-right" href="{% url 'shopping' user.id %}" role="button">Shopping Request</a>
            </div>
          </div>
      </div>

      <div class="col-md-4 pt-4"> 
        
        <div class="d-flex p-3 flex-column shadow-sm rounded-lg justify-content-center bd-highlight mb-3">
          <div class="p-2 bd-highlight">

    
        <!--For online pending payment-->
            {% for i in pending1 %}
            <div class="dropdown">
              <p class="rounded-lg btn btn-block bg-light font-weight-bold text-center shadow-sm p-2 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Status <span class="text-danger">Pending {{i.order_id}}</span>
              </p>
              <div class="dropdown-menu p-2 user-select-all" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                <small class=" text-white"> <strong> Reciever Name:</strong> {{i.reciever_name}}  </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Reciever Number:</strong> {{i.reciever_phone_number}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Address of Reciever:</strong> {{i.Address_of_reciever}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Package Description:</strong> {{i.Package_description}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Sender Location:</strong> {{i.Your_location}} </small>
              </div>
            </div>
            {% endfor%}
      
            <!--Cash Deliveries-->
            {% for i in pending2 %}
            <div class="dropdown">
              <p class="rounded-lg btn btn-block btn-light font-weight-bold text-center shadow-sm p-2 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Status <span class="text-danger">Pending {{i.order_id}}</span>
              </p>
              <div class="dropdown-menu p-2 user-select-all" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
                <small class=" text-white"> <strong> Reciever Name:</strong> {{i.reciever_name}}  </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Reciever Number:</strong> {{i.reciever_phone_number}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Address of Reciever:</strong> {{i.Address_of_reciever}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Package Description:</strong> {{i.Package_description}} </small>
                <div class="dropdown-divider"></div>
                <small class=" text-white"><strong>Sender Location:</strong> {{i.Your_location}} </small>
              </div>
            </div>
            {% endfor%}

            {% if pending1 and pending2 %}
            {% else%}
            <h6>You have no Pending Deliveries </h6>
            {%endif%}
          </div>
        </div>
      </div>
    

    <div class="col-md-5 pt-4">
      <div class="d-flex p-3 btn flex-column shadow-sm rounded-lg justify-content-center bd-highlight mb-3">
        <div class="p-2  bd-highlight">
      <!--out for Deliveries1-->
          {% for i in out_for_delivery %}
          <div class="dropdown">
            <p class="rounded-lg btn btn-block btn-light font-weight-bold text-center shadow-sm p-2 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Status <span class="text-info">Out for delivery ({{i.order_id}})</span>
            </p>
            <div class="dropdown-menu p-2 user-select-all" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
              <small class=" text-white"> <strong> Reciever Name:</strong> {{i.reciever_name}}  </small>
              <div class="dropdown-divider"></div>
              <small class=" text-white"><strong>Reciever Number:</strong> {{i.reciever_phone_number}} </small>
              <div class="dropdown-divider"></div>
              <small class=" text-white"><strong>Address of Reciever:</strong> {{i.Address_of_reciever}} </small>
              <div class="dropdown-divider"></div>
              <small class=" text-white"><strong>Package Description:</strong> {{i.Package_description}} </small>
              <div class="dropdown-divider"></div>
              <small class=" text-white"><strong>Sender Location:</strong> {{i.Your_location}} </small>
          </div>
          {% endfor%}

          <!--out for Deliveries2-->
          {% for i in out_for_delivery2 %}
          <div class="dropdown">
            <p class="rounded-lg btn-light btn btn-block font-weight-bold text-center shadow-sm p-2 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Status <span class="text-info">Out for delivery ({{i.order_id}})</span>
            </p>
            <div class="dropdown-menu p-2 user-select-all" style="background-color: rgb(0, 30, 202);" aria-labelledby="dropdownMenuButton">
              <small class=" text-white"> <strong> Reciever Name:</strong> {{i.reciever_name}}  </small>
              <div class="dropdown-divider"></div>
              <small class=" text-white"><strong>Reciever Number:</strong> {{i.reciever_phone_number}} </small>
              <div class="dropdown-divider"></div>
              <small class=" text-white"><strong>Address of Reciever:</strong> {{i.Address_of_reciever}} </small>
              <div class="dropdown-divider"></div>
              <small class=" text-white"><strong>Package Description:</strong> {{i.Package_description}} </small>
              <div class="dropdown-divider"></div>
              <small class=" text-white"><strong>Sender Location:</strong> {{i.Your_location}} </small>
            </div>
          </div>
          {% endfor%}

          {% if out_for_delivery and out_for_delivery2 %}
          {% else%}
          <h6 class="text-warning">You have no Item out for Delivery or your item have been delivered </h6>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content2 %}
