{% extends "FDS_app/dashBase.html" %}
{% load crispy_forms_tags %}

{% block title %} Delete Order - FDLS {% endblock title %}

{% block content2 %}

<div class="card card-body contianer">
  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>Are you sure you want to Delete Order to "{{item2}}"</p>
        <form action = "{% url 'cancelRequestCash' item2.id %}" method="POST">
          {% csrf_token %}
        <a href="{% url 'adminDashboard' %}"> Cancel </a>
        <input class="btn btn-dark" type="submit" name="Confirm">
        </form>
    </div>
    <div class="col-md-2"></div>
 
</div>

{% endblock content2 %} 