{% extends "FDS_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Log In - FDLS{% endblock title%}

{% block content %}
<br>
<br>
<br>

<div class="row pb-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 p-4">
        {% if messages %}
        <div class="messages p-3 container align-self-center">
            {% for message in messages %}
            <div {% if message.tags %} class=" alert alert-{{message.tags}} alert-dismissible fade show" role="alert" {% endif %}>{{ message }}</div>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> 
        </div>
    {% endif %}
        <div class="shadow-sm shadow bg-light mb-3 rounded-lg">
            <div class="p-4">
                <form method="POST" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{form|crispy}}
                    </fieldset>

                    <button class="btn btn-outline-info btn-block" type="submit">Log In</button>
                </form>
            </div>
            <div class=" pt-3 p-3 text-center ">
                <small class="text-muted "> 
                    Dont have an account sign up
                   </small>
                   <a role="button" href="{% url 'register' %}" class="btn btn-success btn-block">Sign Up</a>
                   <br>
                   <small>
                       Forgot password?<a calss="ml-2" href="{% url 'password_reset' %}"> Reset Password</a>
                   </small>
               </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}