{% extends "FDS_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Log In - FDLS{% endblock title%}

{% block content %}
<br>
<br>
<br>

<div class="row order-3 p-3 d-sm-flex flex-lg-wrap bd-highlight">
    <div class="col-md-4"></div>
    <div class="col-md-4 ">
        {% if messages %}
        <div class="messages p-3 container align-self-center">
            {% for message in messages %}
            <div {% if message.tags %} class=" alert alert-{{message.tags}} alert-dismissible fade show" role="alert" {% endif %}>{{ message }}</div>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> 
        </div>
    {% endif %}
        <div class="card card-body shadow mb-3 rounded ">
            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <fieldset class="form-group">
  
                    {{form|crispy }}
                </fieldset>

                <button class="btn btn-outline-info" type="submit">Log In</button>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted"> 
                    Dont have an account sign up<a calss="ml-2" href="{% url 'register' %}"> Sign Up</a>
                   </small>
                   <br>
                   <small>
                       Forgot password?<a calss="ml-2" href="{% url 'password_reset' %}"> Reset Password</a>
                   </small>
               </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}