{% extends "FDS_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Password Reset Complete - FDLS {% endblock title%}

{% block content %}
<div class="row order-3 p-5 bd-highlight">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card card-body shadow mb-3 rounded">
            <div class="alert alert-info"> 
                Your password has been set.
            </div>
             <a href="{% url 'login' %}"> Sign in</a>
            
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}