
{% extends "FDS_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Password Reset Confirm {% endblock title%}

{% block content %}
<div class="row order-3 p-4 bd-highlight">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card card-body shadow mb-3 rounded">
            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <fieldset class="form-group">
                    {{form|crispy }}
                </fieldset>
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </form>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}