{% extends "FDS_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Password Reset Complete {% endblock title%}

{% block content %}
<br>
<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-lg-4">
        <div class=" p-3 shadow mb-3 rounded">
            <div class="text-center"> 
                <h6>Your password has been reset successfully, login to proceed.</h6>
            </div>
             <a href="{% url 'login' %}" role="button" class=" btn btn-danger btn-sm btn-block rounded-pill"> Log in</a>            
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}