{% extends "FDS_app/dashBase.html" %}
{% load crispy_forms_tags %}

{% block title %} Admin Dashboard {% endblock title %}


{% block content2 %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xl-2 bg-dark" style="height: inherit;" >
            <br> 
          <div style="position: static;">
            {% if messages %}
            <div class="messages p-3 container text-center">
                {% for message in messages %}
                <div {% if message.tags %} class=" alert alert-{{message.tags}}" {% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
                <h5 class="p-4 font-weight-bolder text-white text-left"> ADMIN DASHBOARD</h5>
                <div class="btn-group-vertical btn-block btn-group-toggle text-left" data-toggle="buttons">
                    <a class="btn btn-dark  btn-block text-left" href="{% url 'adminDashboard' %}" role="button">Home</a>
                    <a class="btn btn-dark text-left" href="{% url 'assignedRides' %}" role="button">Riders Dashboard</a>
                    <a class="btn btn-dark text-left" href="{% url 'fleetManager' user.id %}" role="button">Fleet Manager</a>
                    <a class="btn btn-dark text-left" href="{% url 'cashier' user.id %}" role="button">Cashier</a>
                    <a class="btn btn-dark text-left" href="{% url 'frontdesk' user.id %}" role="button">Customer Care</a>
                    <hr class="my-12"/>
                    <a class="btn btn-dark text-left" href="" data-toggle="modal" data-target="#DispatchSummary" role="button">Order Summary</a>
                    <a class="btn btn-dark text-left" href="" data-toggle="modal" data-target="#CustomerSummary" role="button">All Customers</a> 
                    <a class="btn btn-dark text-left" href="{% url 'e-request' %}" role="button">E-payment Request</a>
                    <a class="btn btn-dark text-left" href="{% url 'cash-request' %}" role="button">Cash Payment Request</a>
                    <a class="btn btn-dark text-left" href="{% url 'shopping-request' %}" role="button">Shopping Request</a>
                    <a class="btn btn-dark text-left" href="{% url 'allerrand-request' %}" role="button">Errand Request</a>
                    <a class="btn btn-dark text-left" href="{% url 'allfront-request' %}" role="button">Front_Desk Request</a>
                    <a class="btn btn-dark text-left" href="{% url 'anonymous-request' %}" role="button">Anonymous Request</a>
                </div>
            </div>
        </div>        
        <div class="col-md-10 p-2"> 
            {% block contentadmin %}
                <div class="d-flex  p-5 flex-row bd-highlight justify-content-center">
                    <div class="bd-highlight mr-2 d-inline-flex">
                        <a class="btn btn-info rounded-pill text-left" href="{%url 'customers-list' %}" role="button">Search Request</a>
                    </div>

                    <div class=" bd-highlight d-inline-flex">
                        <a class="btn btn-info rounded-pill text-left" href="{%url 'drivers_dashboard' %}" role="button">Riders Management</a>
                    </div>
                </div>

                <div class="container">
                    <div class="row"> 
                        <div class="col-md-4 col-sm-4 col-xl-4 bgilight">
                            <div class="alert bg-info shadow rounded-lg text-center p-5 " style="height: 270px;"> 
                                <h3 class="text-white text-left pt-4" > <i class="fas fa-money-bill"></i> </h3>
                                <h4 style="font-family:'Comfortaa', cursive;" class="text-white text-left"> INCOME GENERATED</h4>

                            </div>                            
                        </div>
                        
                        <div class="col-md-8">
                            <!--Row1-->
                            <div class="row">
                                    <div class="col-md-6">
                                        <div class="alert alert-light text-center shadow-sm rounded-lg">
                                            <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> E-Request</h6>
                                            <h3> N{{e_req.Amount_paid__sum}} </h3>
                                            <a class="btn btn-info btn-sm rounded-pill" href="" data-toggle="modal" data-target="#ErequestDetails" role="button">view</a>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="alert alert-light text-center shadow-sm rounded-lg">
                                            <h6 class="" style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Cash-Request</h6>
                                            <h3> N{{e_cash.Amount_Paid__sum}} </h3>
                                            <a class="btn btn-info btn-sm rounded-pill justify-content-right" href="" data-toggle="modal" data-target="#CashrequestDetails" role="button">view</a>
                                        </div>
                                    </div>
                            </div>
                            <!--Row2-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="alert alert-light text-center shadow-sm rounded-lg">
                                        <h6 style="font-family:'Comfortaa', cursive;" >
                                            <i class="fas fa-money-bill"></i> Shopping-Request</h6>
                                        <h3> N{{e_shop.Charge__sum}}</h3>
                                        <a class="btn btn-info btn-sm rounded-pill justify-content-right" href="" data-toggle="modal" data-target="#ShoppingrequestDetails" role="button">view</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="alert alert-light text-center shadow-sm rounded-lg">
                                        <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Anon-Request</h6>
                                        <h3> N{{e_anon.Amount_Paid__sum}} </h3>
                                        <a class="btn btn-info btn-sm rounded-pill justify-content-right" href="" data-toggle="modal" data-target="#AnonrequestDetails" role="button">view</a>
                                    </div>
                                </div>
                            </div>

                            <!--Row3-->
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="alert alert-light text-center shadow-sm rounded-lg">
                                      <h6 style="font-family:'Comfortaa', cursive;" >
                                          <i class="fas fa-money-bill"></i> Errand Request</h6>
                                      <h3> N{{e_erra.profit__sum}}</h3>
                                      <a class="btn btn-info btn-sm rounded-pill justify-content-right" href="" data-toggle="modal" data-target="#errandDetails" role="button">view</a>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="alert alert-light text-center shadow-sm rounded-lg">
                                      <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Front Desk Request</h6>
                                      <h3> N{{e_front.profit__sum}} </h3>
                                      <a class="btn btn-info btn-sm rounded-pill justify-content-right" href="" data-toggle="modal" data-target="#frontDetails" role="button">view</a>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
            {% endblock contentadmin %}
        </div>
    </div>
</div>

  <!-- All Deliveries -->
  <div class="modal fade" id="DispatchSummary" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> All Dispatch Request Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% include 'users/status.html' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- All Customers -->
  <div class="modal fade" id="CustomerSummary" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> All Customers</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>  
        <div class="modal-body">
            {% include 'users/all_customersAdmin.html' %}
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--Erequest Details-->
  <div class="modal fade" id="ErequestDetails" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> E Request income Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>  
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-column justify-content-between bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Tricycle Income</h6>
                                <h3> N{{a_req_2.Amount__sum}} </h3>
                            </div>
                        </div>

                        <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Bike Income</h6>
                                <h3> N{{a_req_1.Amount__sum}} </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  
  <!--Cashrequest Details-->
  <div class="modal fade" id="CashrequestDetails" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> Cash Request income Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>  
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-column justify-content-between bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Tricycle Income</h6>
                                <h3> N{{a_cash_2.Amount_Paid__sum}}</h3>
                            </div>
                        </div>

                        <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Bike Income</h6>
                                <h3> N{{a_cash_1.Amount_Paid__sum}} </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--Shoppingrequest Details-->
  <div class="modal fade" id="ShoppingrequestDetails" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> Shopping Request income & purchases Total</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>  
        <div class="modal-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md">
                            <div class="p-2 bd-highlight">
                                <div class="alert alert-light text-center shadow-sm rounded-lg">
                                    <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Total Cash for shopping</h6>
                                    <h3> N{{a_shop_paid.amount_paid__sum}} </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md"> 
                          <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Service Charge, (dispatch/purchase)</h6>
                                <h3> N{{a_shop_charge.Charge__sum}} </h3>
                            </div>
                          </div>
                        </div>
          
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md">
                    <div class="p-2 bd-highlight">
                      <div class="alert alert-light text-center shadow-sm rounded-lg">
                          <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Items Purchased Cost</h6>
                          <h3> N{{a_shop_cost.Item_Cost__sum}} </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md"> 
                    <div class="p-2 bd-highlight">
                      <div class="alert alert-light text-center shadow-sm rounded-lg">
                          <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Refunds</h6>
                          <h3> N{{a_shop_refund.Amount_Refunded__sum}} </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!--Anonrequest Details-->
  <div class="modal fade" id="AnonrequestDetails" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> Anon Request income Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>  
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-column justify-content-between bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Tricycle Income</h6>
                                <h3> N{{a_anon_2.Amount_Paid__sum}}</h3>
                            </div>
                        </div>

                        <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Bike Income</h6>
                                <h3> N{{a_anon_1.Amount_Paid__sum}} </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--Errand Request-->
  <div class="modal" id="errandDetails" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> Errand request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>  
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-column justify-content-between bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Amount Paid</h6>
                                <h3> N{{a_errand_AmtPaid.Amount_Paid__sum}}</h3>
                            </div>
                        </div>

                        <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i>Profit</h6>
                                <h3> N{{a_errand_profit.profit__sum}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--fRONT Request-->
  <div class="modal" id="frontDetails" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> Front-Desk request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>  
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-column justify-content-between bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i> Amount Paid</h6>
                                <h3> N{{a_front_AmtPaid.Amount_Paid__sum}}</h3>
                            </div>
                        </div>

                        <div class="p-2 bd-highlight">
                            <div class="alert alert-light text-center shadow-sm rounded-lg">
                                <h6 style="font-family:'Comfortaa', cursive;" ><i class="fas fa-money-bill"></i>Profit</h6>
                                <h3> N{{a_front_profit.profit__sum}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content2 %}