{% extends "FDS_app/dashBase.html" %}
{% load crispy_forms_tags %}

{% block title %} Welocme {{user.username }} {% endblock title %}

{% block content2 %}

<div class="row p-4 bd-highlight">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card card-body shadow mb-3 rounded" style="background-color: aliceblue;">
            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Request For Dispatch Rider </legend>
                    <strong>For Online Payments.</strong>
                    <br>
                    <br>
                    {{ o_form|crispy }}
        
                </fieldset>
                <button class="btn btn-outline-info" type="submit">Request</button>
            </form>
        </div>

    </div>
    <div class="col-md-4"></div>

</div>

{% endblock content2 %}