{% extends "FDS_app/dashBase.html" %}
{% load crispy_forms_tags %}

{% block title %} Request Dispatch(Cash) - FDLS {% endblock title %}

{% block content2 %}
<div class="row order-3 p-3 bd-highlight">
    <div class="col-md-4"></div>
    <div class="col-sm-4">
        <div class="shadow rounded-lg ">
            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}                    
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true"><strong>Request For Dispatch Rider (Cash)</strong></li>
                        <li class="list-group-item list-group-item-action list-group-item-light">  {{ c_form|crispy }}</li>
                        <li class="list-group-item list-group-item-action list-group-item-light"><button class="btn btn-outline-danger" type="submit">Request</button></li>
                    </ul>
                
            </form>
                </div>
        </div>

    </div>
    <div class="col-md-4"></div>

</div>


{% endblock content2 %}