<br>

<div class="row">
    <div class="col">
        <div class="col-md">
        <div class="card text-center text-white bg-primary mb-3" id="total_orders">
            <div class="card-header">
                <h5 class="card-title"> Total Request</h5>
            </div>
            <div class="card-body">
                <h3>{{total_request}}</h3>
            </div>
        </div>
    </div>
</div>


    <div class="col">
        <div class="col-md">
        <div class="card text-center text-white bg-primary mb-3" id="total_orders">
            <div class="card-header">
                <h5 class="card-title"> Request Delivered</h5>
            </div>
            <div class="card-body">
                <h3>{{delivered}}</h3>
            </div>
        </div>
    </div>
</div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white bg-primary mb-3" id="total_orders">
                <div class="card-header">
                    <h5 class="card-title"> Pending Deliveries</h5>
                </div>
                <div class="card-body">
                <h3>{{pending}}</h3>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white bg-primary mb-3" id="total_orders">
                <div class="card-header">
                    <h5 class="card-title"> Out For Delivery</h5>
                </div>
                    <div class="card-body">
                        <h3>{{out_for_delivery}}</h3>
                    </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white bg-primary mb-3" id="total_orders">
                <div class="card-header">
                    <h5 class="card-title"> Canceled </h5>
                </div>
                    <div class="card-body">
                        <h3>{{ canceled }}</h3>
                    </div>
            </div>
        </div>
    </div>
</div>

