{% extends "FDS_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Payment success - FDLS {% endblock title%}

{% block content %}

<br>
<br>

<div class="row order-3 p-5 d-sm-flex flex-lg-wrap bd-highlight">
    <div class="col-md-3"></div>
    <div class="col-sm-6  d-flex justify-content-center">
        <div class=" mb-3 rounded text-center  ">
            <div>
                <div class="mb-3"> 
                    <h1><i class=" text-success fas fa-check-circle"></i></h1>
                </div>
                <h5> Your payment is successful </h5>    
               <button class="btn btn-light"> <a class="text-decoration-none text-secondary" href="{% url 'dashboard' user.id%}"> Return to Dashboard</a></button>
            </div>
            
        </div>
    </div>
    <div class="col-md-3"></div>
</div>


{% endblock %}