{% extends "BikeControl/dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Fleet Vechiles - FDLS{% endblock title%}

{% block contentbike %}
<br>
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 ">
            <h4 class="shadow text-center text-secondary bg-white rounded-pill p-3">ALL FLEET VECHILE INFORMATION</h4>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
<!--FLEET INFO-->
    <div class="row">
        <div class="col-md-2">
            <div class="alert alert-primary rounded-pill" role="alert">
                <h6 class="text-nowrap font-weight-bold">Bike Fleet <span class="badge badge-light">{{bike_fleet}}</span></h6>
            </div>

            <div class="alert alert-primary rounded-pill" role="alert">   
                <h6 class="text-nowrap font-weight-bold">Tricycle Fleet <span class="badge badge-light">{{tricycle}}</span></h6>
            </div>

            <div class="alert alert-primary rounded-pill" role="alert">
                <h6 class="text-nowrap font-weight-bold">Car Fleet <span class="badge badge-light">None</span></h6>
            </div>

            <div class="alert alert-primary rounded-pill" role="alert">           
                <h6 class="text-nowrap font-weight-bold">Truck Fleet <span class="badge badge-light">None</span></h6>
            </div>
        </div>
            <div class="col-md-5  p-3">
                <h4 class="text-dark">Bike Fleet</h4>
                {% for i in bike_fleet_all%}
                <table class="table text-left table-light rounded-lg shadow-sm justify-content-center">
                    <thead>
                      <tr>                                    
                      </tr>
                    </thead>
                    <tbody>
                      <tr>                    
                        <td class="font-weight-bold">PLATE NUMBER</td>
                        <td>{{i.fleet_plate_number}}</td>                    
                      </tr>  
                      <tr>                    
                        <td class="font-weight-bold"> TRACKER ID</td>
                        <td>{{i.Tracker_id}}</td>                    
                      </tr>  
                      <tr>                    
                        <td class="font-weight-bold"> TRACKER PHONE</td>
                        <td>{{i.Tracker_phone_num}}</td>                    
                      </tr>  
                      <tr>                    
                        <td class="font-weight-bold"> CATEGORY</td>
                        <td>{{i.category}}</td>                    
                      </tr>  
                      <tr>                    
                        <td class="font-weight-bold"> VECHICLE NAME</td>
                        <td>{{i.vechile_name}}</td>                    
                      </tr>  
                      <tr>                    
                        <td class="font-weight-bold"> DATE CREATED</td>
                        <td>{{i.date_created}}</td>                    
                      </tr>                    
                    </tbody>
                </table>
                {% endfor %}  
            </div>

            <div class="col-md-5  p-3 ">
                <h4 class="text-warning">Tricycle Fleet</h4>
                {% for i in tricycle_fleet_all%}
                <table class="table text-left table-warning rounded-lg shadow-sm justify-content-center">
                    <thead>
                      <tr>                                    
                      </tr>
                    </thead>
                    <tbody>
                      <tr>                    
                        <td class="font-weight-bold">PLATE NUMBER</td>
                        <td>{{i.fleet_plate_number}}</td>                    
                      </tr>  
                      <tr>                    
                        <td class="font-weight-bold"> TRACKER ID</td>
                        <td>{{i.Tracker_id}}</td>                    
                      </tr>  
                      <tr>                    
                        <td class="font-weight-bold"> TRACKER PHONE</td>
                        <td>{{i.Tracker_phone_num}}</td>                    
                      </tr>  
                      <tr>                    
                        <td class="font-weight-bold"> CATEGORY</td>
                        <td>{{i.category}}</td>                    
                      </tr>  
                      <tr>                    
                        <td class="font-weight-bold"> VECHICLE NAME</td>
                        <td>{{i.vechile_name}}</td>                    
                      </tr>  
                      <tr>                    
                        <td class="font-weight-bold"> DATE CREATED</td>
                        <td>{{i.date_created}}</td>                    
                      </tr>                    
                    </tbody>
                </table>
                {% endfor %}    
            </div>
    </div>
</div>
{% endblock contentbike %}